{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexUnidades" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Unidades (CADASTRAR)
			</h3>
			<hr/>

            <div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">

							<div class="form-wrap">

							    <form class="form-signin" method="post" action="atualizarUnidades">
							    	<input type="hidden" name="input[token]" value="{{ form_token() }}" />

							        <div class="form-group">
							        	{% for unidade in retorno %}
								            <label class="control-label">Nome da unidade </label>
								            <input value="{{unidade.nome}}" required autocomplete="off" type="text" name="input[nome]" class="form-control" />
								            <input value="{{unidade.id}}" type="hidden" name="input[id]" />
							            {% endfor %}
							        </div>

							      	<br/>
							      	<button class="btn btn-primary" type="submit">editar</button>
							    </form>

			        	    </div>

						</div>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>

{% endblock %}