{% extends "_layout/_layout.html" %}
{% block content %}
<style type="text/css">
    .modal-dialog{
      max-width: 30%;
    }
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="../home/indexHome" class="btn btn-xs btn-outline-link">&laquo; Home</a>
			<h3 class="text-center">
				Unidades
			</h3>
			<hr/>

            <div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div style="text-align: right;">
								<a href="novoUnidades" class="btn btn-outline-success pull-right">Adicionar</a>
							</div>
							<table class="table table-hover table-sm table-bordered">
								<thead>
									<tr>
										<th>
											ID
										</th>
										<th>
											Nome
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								
									{% if retorno %}
									    {% for unidade in retorno %}
											<tr>
												<td>{{ unidade.id }}</td>
												<td>{{ unidade.nome }}</td>
												<td>
													<a href="editarUnidades?id={{ unidade.id }}" class="btn btn-outline-primary pull-left">Editar</a>
													<a href="javascript::void()" onclick="return deleteUnidade({{ unidade.id }})" data-toggle="modal" data-target="#myModal" class="btn btn-outline-danger pull-left">Apagar</a>
												</td>
											</tr>

									    {% endfor %}
								    {% else %}
									    Nenhum resultado encontrado
									{% endif %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>

<script type="text/javascript">

function deleteUnidade(id){
	document.getElementById('idUnidade').value = id;
}

function getQueryParams(qs){
    qs = qs.split('+').join(' ');

    var params = {},
        tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while(tokens = re.exec(qs)){
        params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }

    return params;
}
var query = getQueryParams(document.location.search);
if(query.e){
	switch(query.e){
		case '1':
			alert('yes-1');
			break;
		case '2':
			alert('yes-2');
			break;
		case '3':
			window.history.pushState("", "", 'indexUnidades');
			alert('Não é possível apagar essa unidade');			
			break;
	}
}
</script>

<div class="modal" id="myModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="deletarUnidades">
				<input type="hidden" name="input[token]" value="{{ form_token() }}" />
				<div class="modal-header">
					<h4 class="modal-title">Apagar unidade</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<input id="idUnidade" type="hidden" name="input[id]" />
				</div>
				<div class="modal-body">Confirma exclusão dessa unidade?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal show" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="deletarUnidades">
				<input type="hidden" name="input[token]" value="{{ form_token() }}" />
				<div class="modal-header">
					<h4 class="modal-title" id="titulo_modal"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<input id="idUnidade" type="hidden" name="input[id]" />
				</div>
				<div class="modal-body" id="mensagem_modal"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="modalGeral" type="submit" class="btn btn-danger">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}