<div class="modal fade" id="modal-container-545745" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">
					Endereços
				</h5> 
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				 
				<button type="button" class="btn btn-primary">
					Salvar
				</button> 
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Fechar
				</button>
			</div>
		</div>
	</div>
</div>
