{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Pessoa de Referência
			</h3><hr/>

		        <div class="card-body">
		            <div style="background-color: #f3f3f3; padding: 10px; margin-bottom: 5px">
		                <div class="row">
		                    <div class="col-lg-1" style="padding-right: 1px">
		                        <div class="form-group" style="text-align: right;">
		                           <label>Último</label>

		                           <input readonly="" value='{{ theme.getDateEnd|date("d/m/Y") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1" style="padding-left: 5px">
		                        <div class="form-group">
		                            <label class="control-label">Atendimento</label>
		                            <input readonly="" value='{{ theme.getDateEnd|date("H:i:s") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Unidade</label>
		                            <input id="unidade" readonly="" class="form-control" type="text" value="CRAS I" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Técnico Responsável</label>
		                            <input id="tecnico" readonly="" class="form-control" value="CECÍLIA" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">NIS</label>
		                            <input id="tecnico" readonly="" value="120.1934.788-3" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CPF</label>
		                            <input id="tecnico" readonly="" value="765.543.234-87" class="form-control" type="text" />
		                        </div>
		                    </div>
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Data prontuário</label>
		                            <input id="tecnico" readonly="" value="20/05/2017" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Nome da Pessoa de Referência</label>
		                            <input type="text" readonly="" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Apelido</label>
		                             <input type="text" readonly="" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Nome da mãe</label>
		                            <input readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">RG</label>
		                            <input type="text" readonly="" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Órgão emissor</label>
		                             <input type="text" readonly="" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">UF</label>
		                            <input readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Emissão</label>
		                            <input readonly="" value="01/01/1999" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Sexo</label>
									<select readonly="" class="form-control" id="sel1">
										<option>Masculino</option>
										<option>Feminino</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Nascimento</label>
		                            <input readonly="" value="01/01/1999" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Idade</label>
		                            <input readonly="" value="40" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <!--
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                        	<label class="control-label"></label>
			                    	<div data-toggle="tooltip" title="Composição familiar">
				                    	<a id="modal-545745" href="#modal-container-545745" role="button" class="btn btn-dark btn-lg" data-toggle="modal">
				                    		<i class="fas fa-users"></i>
				                    	</a>
			                    	</div>
		                        </div>
		                    </div>
		                	-->
		                	
		                </div>

		            </div>

		            <div style="background-color: #f3f3f3; padding: 10px; margin-bottom: 5px">
		                <div class="row">
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CEP</label>
		                            <input id="cep_registro" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Endereço (Rua, Av.)</label>
		                             <input id="endereco_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">N°</label>
		                            <input id="num_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Complemento</label>
		                            <input id="complemento_cep" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Bairro</label>
		                            <input id="bairro_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Município</label>
		                             <input id="municipio_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">UF</label>
		                            <input id="estado_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Ponto de Referência</label>
		                            <input id="tecnico" class="form-control" type="text" />
		                        </div>
		                    </div>

		                </div>
		                <div class="row">
		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Telefone de contato</label>
		                            <input type="text" class="form-control telefone" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Domicílio</label>
									<select class="form-control">
										<option>Urbano</option>
									</select>
		                        </div>
		                    </div>
		                    <div class="col-lg-2">
		                        <div class="form-group">
									<label style="margin-top: 35px"><input type="checkbox" name="vehicle1" value="Bike"> Endereço de abrigo</label> 
		                        </div>
		                    </div>

		                    <!--
		                    <div class="col-lg-2" style="margin-top: 15px">
		                    	<div data-toggle="tooltip" title="Dados de Endereço">
			                    	<a id="modal-545745" href="#modal-container-545745" role="button" class="btn btn-dark btn-lg" data-toggle="modal">
			                    		<i class="fas fa-address-card"></i>
			                    	</a>
		                    	</div>
		                    </div>
		                	-->

		                </div>
		            </div>

		            <div style="background-color: #f3f3f3; padding: 10px; margin-bottom: 5px">

		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label for="undaten" class="control-label">Como acessou a unidade para o 1° atendimento</label>
		                            {% if retorno %}
									<select class="form-control" id="undaten">
										{% for forma in retorno %}
											<option value="{{ forma.id }}">{{ forma.opcao }}</option>
										{% endfor %}
									</select>
									{% endif %}
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Detalhe (se seleção acima for OUTROS)</label>
		                             <input type="text" class="form-control" />
		                        </div>
		                    </div>
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Nome do contato do órgão (Se encaminhamento)</label>
		                             <input type="text" class="form-control" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-8">
		                        <div class="form-group">
		                            <label class="control-label">Motivação do 1° atendimento</label>
		                            <textarea class="form-control"></textarea>
		                        </div>
		                    </div>
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Programas Sociais (Identificados)</label>
			                        <div class="form-group">
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle1" value="Bike"> Bolsa Família</label> 
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle2" value="Car"> BPC </label>
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle3" value="Boat"> PETI </label>
										<label style="margin-bottom: 0px; margin-right: 5px"><input type="checkbox" name="vehicle3" value="Boat"> Outros </label>
										<input type="text" class="form-control" />
			                        </div>
		                        </div>
		                    </div>
		                </div><br/>
		            </div>
		            <br/>
	            	<div class="row">
	                	<div class="col-lg-12" style="text-align: right; ">
	                		<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
	                		<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" class="btn btn-secondary"><i class="fas fa-undo"></i> 	Cancelar</a>
	                	</div>
	                </div>
	                <br/><br/><br/>
            	</div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

{% include 'pessoa/modais/_modal_endereco.html' %}

<script>
$(function(){

	$.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho',
        'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
        'Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
	$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $("#datepicker_init").datepicker({
        onSelect: function (selected){
            $("#datepicker_fim").datepicker("option", "minDate", selected);
        }
    });
    
    $("#datepicker_fim").datepicker({
        onSelect: function (selected){
            $("#datepicker_init").datepicker("option", "maxDate", selected)
        }
    });

    $("#cep_registro").blur(function(){
        var cep = $(this).val().replace(/\D/g, '');
        if(cep != ""){

            var validacep = /^[0-9]{8}$/;

            if(validacep.test(cep)){

                $("#endereco_cep").val("...");
                $("#bairro_cep").val("...");
                $("#municipio_cep").val("...");
                $("#estado_cep").val("...");

                $.getJSON("https://viacep.com.br/ws/"+cep+"/json/?callback=?", function(dados){
                    if(!("erro" in dados)){
                        $("#endereco_cep").val(dados.logradouro);
                        $("#bairro_cep").val(dados.bairro);
                        $("#municipio_cep").val(dados.localidade);
                        $("#estado_cep").val(dados.uf);
                    }else{
                        alert("CEP não encontrado.");
                    }
                });
            }else{
                alert("Formato de CEP inválido.");
            }
        }
    });


	$('#btn_filtrar').on('click', function(){

		var unidade = $('#unidade').val();
		var pessoa_ref = $('#pessoa_ref').val();
		var apelido = $('#apelido').val();
		var nis = $('#nis').val();
		var tecnico = $('#tecnico').val();
		var datepicker_init = $('#datepicker_init').val();
		var datepicker_fim = $('#datepicker_fim').val();
		
		var dados_input = {
			'token':'d4sad45as4d54asd54as5d4',
			'unidade':unidade,
			'pessoa_ref':pessoa_ref,
			'apelido':apelido,
			'nis':nis,
			'tecnico':tecnico,
			'data_inicio':datepicker_init,
			'data_fim':datepicker_fim,
		}

		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';
		
		if( $(this).html() !== loadingText ){
		  $this.data('original-text', $(this).html());
		  $this.html(loadingText);
		}

		setTimeout(function() {
		  $this.html($this.data('original-text'));
		  $this.blur();
		}, 2000);

		$.ajax({
			method: "POST",
			url: "../externo/acesso",
			data: dados_input,
			success: function(data){
	        	console.log('retorno',data);
	        	// JSON.parse();
	      	}
			//data: { name: "John", location: "Boston" }
		}).done(function( msg ) {
			//alert( "Data Saved: " + msg );
		});

	});

	$('.telefone').mask('(00)00000-0000');
	$('#nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');
	$('#cep_registro').mask('00000-000');
	
	$('[data-toggle="tooltip"]').tooltip();
});
</script>


{% endblock %}