
<div class="modal fade" id="modal-container-111" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Saúde da Família (editar)</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Tipo de deficiência</label>
                            <select class="form-control">
                            	<option>CONTA PRÓPRIA/AUTÔNOMO/BICO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label><input type="checkbox"> Necessita cuidador pela deficiência?</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Pessoa responsável pelo cuidado</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label><input type="checkbox"> Necessita cuidador por idade ou doença?</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Pessoa responsável pelo cuidado</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><input type="checkbox"> Portador doença grave</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><input type="checkbox"> Usa remédio controlado</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><input type="checkbox"> Uso abusivo de alcool</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label><input type="checkbox"> Uso abusivo de drogas</label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div style="width: 100%; padding: 10px; padding-right: 20%">
                        <b style="float: right;">
                            Descumprimento de condicionalidade do Bolsa Família
                        </b>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Meses gestação</label>
                            <input class="form-control mesesgestacao" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-top: 35px"><input type="checkbox"> Início pré-natal</label>
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Ocorreu em</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">Efeito</label>
                        <select class="form-control">
                            <option>SEGUNDA SUSPENSÃO</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>