<div class="modal fade" id="modal-adicionar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">
					Composição familiar - Incluir Membro
				</h5> 
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div>
				            <div class="card-body">
				                <div class="row">

				                    <div class="col-lg-5">
				                        <div class="form-group">
				                            <label class="control-label">Nome da Pessoa de Referência</label>
				                            <input id="nome_pessoa" type="text" class="form-control" />
				                        </div>
				                    </div>

				                    <div class="col-lg-2">
				                        <div class="form-group">
				                            <label class="control-label">Sexo</label>
				                            <select class="form-control">
				                            	<option value="Masculino">Masculino</option>
				                            	<option value="Feminino">Feminino</option>
				                            </select>
				                        </div>
				                    </div>

				                    <div class="col-lg-2">
				                        <div class="form-group">
				                            <label class="control-label">Nascimento</label>
				                            <input id="nascimento" type="text" class="form-control" />
				                        </div>
				                    </div>
				                    <!--
				                    <div class="col-lg-1">
				                        <div class="form-group">
				                            <label class="control-label">Idade</label>
				                            <input id="idade" type="text" class="form-control" />
				                        </div>
				                    </div>-->

				                    <div class="col-lg-3">
				                    	<div class="form-group" style="padding-top: 37px;">
											<div class="checkbox">
												<label>
													<input id="deficiencia" type="checkbox" /> Possui deficiência?
												</label>
											</div> 
										</div> 
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div>
				            <div class="card-body">
				                <div class="row" >
				                    
				                    <div class="col-lg-5">
				                        <div class="form-group">
				                            <label class="control-label">Parentesco</label>
				                            <input id="parentesco" type="text" class="form-control" />
				                        </div>
				                    </div>

				                    <div class="col-lg-5" >
				                    	Necessidade de documentação<br/>
										<div class="form-check form-check-inline" style="margin-right: 5%">
											<input type="checkbox" class="form-check-input" id="cn">
											<label class="form-check-label" for="cn">CN</label>
										</div>
									
										<div class="form-check form-check-inline" style="margin-right: 5%">
											<input type="checkbox" class="form-check-input" id="rg">
											<label class="form-check-label" for="rg">RG</label>
										</div>
										
										<div class="form-check form-check-inline" style="margin-right: 5%">
											<input type="checkbox" class="form-check-input" id="ctps">
											<label class="form-check-label" for="ctps">CTPS</label>
										</div>

										<div class="form-check form-check-inline" style="margin-right: 5%">
											<input type="checkbox" class="form-check-input" id="cpf">
											<label class="form-check-label" for="cpf">CPF</label>
										</div>

										<div class="form-check form-check-inline" style="margin-right: 5%">
											<input type="checkbox" class="form-check-input" id="te">
											<label class="form-check-label" for="te">TE</label>
										</div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">
					Confirmar
				</button> 
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Cancelar
				</button>
			</div>
		</div>
	</div>
</div>
