{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/habitacionais/indexCondicoes" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Condições Habitacionais (NOVO)
			</h3>
			<hr/>

			
            <div class="card-body">

            	{% include '_layout/_topo_pessoa_referencia.html' %}
	
				<div class="row div_divisor_2">

				    <div class="col-lg-2">
				        <div class="form-group">
				            <label class="control-label">Tipo de residência</label>
				            <select class="form-control">
				            	<option>OCUPADA</option>
				            </select>
				        </div>
				    </div>

				    <div class="col-lg-5">
				        <div class="form-group">
				            <label class="control-label">Material das paredes externas</label>
				            <select class="form-control">
				            	<option>ALVENARIA OU MADEIRA APARELHADA</option>
				            </select>
				        </div>
				    </div>

				    <div class="col-lg-5">
				        <div class="form-group">
				            <label class="control-label">Acesso a energia elétrica</label>
				            <select class="form-control">
				            	<option>SIM, SEM MEDIDOR</option>
				            </select>
				        </div>
				    </div>

				</div>

				<div class="row div_divisor_2">

				    <div class="col-lg-2">
				        <div class="form-group">
				            <label class="control-label">Água canalisada</label>
				            <select class="form-control">
				            	<option>SIM</option>
				            </select>
				        </div>
				    </div>

				    <div class="col-lg-4">
				        <div class="form-group">
				            <label class="control-label">Forma de abastecimento de água</label>
				            <select class="form-control">
				            	<option>REDE GERAL DE DISTRIBUIÇÃO</option>
				            </select>
				        </div>
				    </div>

				    <div class="col-lg-3">
				        <div class="form-group">
				            <label class="control-label">Escoamento sanitário</label>
				            <select class="form-control">
				            	<option>FOSSA SÉPTICA</option>
				            </select>
				        </div>
				    </div>

				    <div class="col-lg-3">
				        <div class="form-group">
				            <label class="control-label">Coleta de Lixo</label>
				            <select class="form-control">
				            	<option>SIM, COLETA DIRETA</option>
				            </select>
				        </div>
				    </div>

				</div>

				<div class="row div_divisor_2">

				    <div class="col-lg-2">
				        <div class="form-group">
				            <label class="control-label">N° comodos</label>
				            <input type="text" class="form-control numerico" />
				        </div>
				    </div>

				    <div class="col-lg-2">
				        <div class="form-group">
				            <label class="control-label">N° dormitórios</label>
				            <input type="text" class="form-control numerico" />
				        </div>
				    </div>

				    <div class="col-lg-2">
				        <div class="form-group">
				            <label class="control-label">Pessoas por dormitório</label>
				            <input type="text" class="form-control numerico" />
				        </div>
				    </div>

				    <div class="col-lg-6">
				        <div class="form-group">
				        	<label class="control-label">Características da Área</label><br/>
				        	<label style="margin-bottom: 0px; margin-right: 20px">
				        		<input type="checkbox"> Risco
				        	</label>
				        	<label style="margin-bottom: 0px; margin-right: 20px">
				        		<input type="checkbox"> Difícil acesso
				        	</label>
				        	<label style="margin-bottom: 0px; margin-right: 20px">
				        		<input type="checkbox"> Conflito/Violência
				        	</label>
				        </div>
				    </div>

				</div>

				<div class="row div_divisor_2">
				    <div class="col-lg-8">
				        <div class="form-group">
				            <label class="control-label">Outras observações referentes ao diagnóstico das condições da família</label>
				            <textarea class="form-control"></textarea>
				        </div>
				    </div>
					<div class="col-lg-4" style="text-align: center; margin: auto">

                		<a href="{{URLL_DEFAULT}}/habitacionais/indexCondicoes" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                		<a href="{{URLL_DEFAULT}}/atendimento/acompanhamentoAtendimento" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
					</div>
				</div>
				
            </div>


		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){
	$('.numerico').mask('000');

});
</script>

{% endblock %}