{% extends "_layout/_layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<!-- nav -->

			<div class="jumbotron">
				<h2>
					USUARIOS
				</h2>
				<ul>
					{% if retorno %}
					    {% for usuario in retorno %}
					        <li>
					        	<a href="{{URL_DEFAULT}}/usuario/umUsuario?id={{ usuario.id }}&t=d8sad4asd45sd45w2452452452">{{ usuario.email }}</a>
					        </li>
					    {% endfor %}
				    {% else %}
					    Nenhum resultado encontrado
					{% endif %}
				</ul>
				<p>
					<a class="btn btn-primary btn-large" href="{{URL_DEFAULT}}/usuario/novoUsuario">novo usuario</a>
				</p>
			</div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/views/usuario.js"></script>
<script type="text/javascript">
var usuario = new Usuario();

$( window ).on( "load", function() {
    //usuario.teste();
});
</script>

{% endblock %}