{% extends "_layout/_layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<!-- nav -->

			<div class="jumbotron">
				<h2>
					novo usuario
				</h2>

				<div class="text-center">
				    <form class="form-signin" method="post" action="{{URL_DEFAULT}}/usuario/cadastrarUsuario">
				    	<input type="hidden" name="input[token]" value="{{ form_token() }}" />
				      <label class="sr-only">Email</label>
				      <input value="{{retorno['email']}}" autocomplete="off" type="email" name="input[email]" class="form-control" placeholder="Digite seu email" required>
				      <label class="sr-only">Senha</label>
				      <input autocomplete="off" type="password" name="input[senha]" class="form-control" placeholder="Digite sua senha" required>

				      <br/>
				      <button class="btn btn-lg btn-primary btn-block" type="submit">cadastrar</button>
				    </form>
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}