{% extends "_layout/_layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<!-- nav -->

			<div class="jumbotron">
				<a href="{{URL_DEFAULT}}/usuario/indexUsuario" class="btn btn-xs btn-link">&laquo; Voltar</a><br/>
				<h2 style="float: left;">
					atualizar usuario
				</h2>
				<button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" style="float: right;" type="submit">apagar</button>

				{% if retorno %}
				    {% for usuario in retorno %}
						<div class="text-center">
						    <form class="form-signin" method="post" action="{{URL_DEFAULT}}/usuario/atualizaUsuario">
						      <input type="hidden" name="input[token]" value="{{ form_token() }}" />
						      <input id="idUsuario" value="{{ usuario.id }}" type="hidden" name="input[id]">
						      <label class="sr-only">Email</label>
						      <input value="{{usuario.email}}" autocomplete="off" type="email" name="input[email]" class="form-control" placeholder="Digite seu email" required>
						      <label class="sr-only">Senha</label>
						      <input autocomplete="off" type="password" name="input[senha]" class="form-control" placeholder="Digite sua senha" required>
						      <br/>
						      <button class="btn btn-lg btn-primary" type="submit">atualizar</button>
						    </form>
						</div>
				    {% endfor %}
			    {% else %}
				    Nenhum resultado encontrado
				{% endif %}
			</div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/views/usuario.js"></script>
<script type="text/javascript">
	
	window.onload = function(){
		var usuario = new Usuario('{{URL_DEFAULT}}');

		usuario.deletarUsuario('idUsuario');
	};

	/*
	$( window ).on( "load", function() {
		// jquery
	});*/
</script>

{% include 'usuario/_modalConfirmeDelete.html' %}

{% endblock %}