<div class="modal fade" id="modal-container-111" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Violência e Violação de Direitos (editar)</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Trabalho infantil</label>
                            <select class="form-control">
                                <option>CONTA PRÓPRIA/AUTÔNOMO/BICO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Exploração sexual</label>
                            <select class="form-control">
                                <option>CONTA PRÓPRIA/AUTÔNOMO/BICO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Abuso/Violência sexual</label>
                            <select class="form-control">
                                <option>CONTA PRÓPRIA/AUTÔNOMO/BICO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Violência física</label>
                            <select class="form-control">
                                <option>INDÍCIO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Violência psicológica</label>
                            <select class="form-control">
                                <option>NÃO IDENTIF.</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Negligência</label>
                            <select class="form-control">
                                <option>NÃO IDENTIF.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Trajetória de rua</label>
                            <select class="form-control">
                                <option>NÃO IDENTIF.</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Discriminação</label>
                            <select class="form-control">
                                <option>NÃO IDENTIF.</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>