<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <style type="text/css">
  	.error{
      margin: 0 auto;
  		font-size: 50px;
  		color: red;
      text-align: center;
  	}
  </style>
</head>

<body style="background-color: #ececec">
 	<div class="error">
    {{ erro_mensagem }}
 	</div>
</body>

</html>
