{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Condições de Trabalho e Renda
			</h3>
			<hr/>

            <div class="card-body">
				<div class="row" style="text-align: right;">
					<div class="col-lg-12">
						<a href="novoTrabalhoRenda" type="button" class="btn btn-outline-success"><span class="fa fa-plus"></span> NOVO</a>
					</div>
				</div><br/>


				<form method="GET">
					<input type="hidden" name="consulta" value="1">
					{% include '_layout/_filtro_pessoa_referencia.html' %}<br/> 

					<div class="row">
						<div class="col-lg-12">
							<center>
								<button id="btn_filtrar" type="submit" class="btn btn-outline-primary"><span class="fa fa-search"></span> FILTRAR</button>
							</center>
						</div>
					</div>
				</form>

				<br/>
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-hover table-sm table-bordered">
							<thead>
								<tr>
									<th>Atualização</th>
									<th>Renda Familiar</th>
									<th>Renda per capta</th>
									<th>Observações desta atualização</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
												<tr>
					<td>21/05/2017</td>
					<td>R$ 1.000</td>
					<td>R$ 200</td>
					<td>TESTE DE OBSERVAÇÃO SOBRE A ATUALIZAÇÃO</td>
					<td>
						<a href="javascript::void(0)" class="btn btn-primary pull-left">Editar</a>
					</td>
				</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

	/*$('#btn_filtrar').on('click', function(){

		var imagem_load = '../assets/imgs/load.gif';
		$('#retorno_view').html(`<div class="centro_load"><img src="${imagem_load}" width="100px"></div>`);

		var unidade 	= $('#unidade').val();
		var pessoa_ref 	= $('#pessoa_ref').val();
		var apelido 	= $('#apelido').val();
		var nis 		= $('#nis').val();
		var tecnico 	= $('#tecnico').val();
		
		var dados_input = {
			'token':'d4sad45as4d54asd54as5d4',
			'unidade':unidade,
			'pessoa_ref':pessoa_ref,
			'apelido':apelido,
			'nis':nis,
			'tecnico':tecnico
		}

		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';
		
		if( $(this).html() !== loadingText ){
		  $this.data('original-text', $(this).html());
		  $this.html(loadingText);
		}

		setTimeout(function(){
		  $this.html($this.data('original-text'));
		  $this.blur();
		}, 2000);

		$.ajax({
			method: "POST",
			url: "../externo/view",
			data: dados_input,
			success: function(data){

	        	var tr_view = `
				<tr>
					<td>21/05/2017</td>
					<td>R$ 1.000</td>
					<td>R$ 200</td>
					<td>TESTE DE OBSERVAÇÃO SOBRE A ATUALIZAÇÃO</td>
					<td>
						<a href="javascript::void(0)" class="btn btn-primary pull-left">Editar</a>
					</td>
				</tr>
				`;

				setTimeout(function() {
					$('#retorno_view').html(tr_view);
				}, 1600);
	      	}
		}).done(function(msg){

		});
	});*/

	//$('.nis').mask('120.1934.788-3');
	$('.nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');

});
</script>


{% endblock %}