{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexTrabalhoRenda" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Condições de Trabalho e Renda (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

               {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Renda Familia <br/> (<small>Sem programas sociais</small>) </label>
                            <input id="renda_familia" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Renda per capta <br/> (<small>Sem programas sociais</small>) </label>
                            <input id="renda_per_capta" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                        	<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle1" value="Bike"> Alguém da família aposentado?</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Renda Familia <br/> (<small>COM programas sociais</small>) </label>
                            <input id="renda_familia" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Renda per capta <br/> (<small>COM programas sociais</small>) </label>
                            <input id="renda_per_capta" class="form-control" type="text" />
                        </div>
                    </div>

                </div>

                <div class="row div_divisor_2">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Observações referentes as condições de trabalho e renda </label>
                            <textarea class="form-control" ></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="#" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
                </div>

                <br/>
            

            <div class="row div_divisor_2">
				<div class="col-lg-12">
                    <a id="modal-105420" style="float: right;" href="#modal-container-105420" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
					<table class="table table-hover table-sm table-bordered">
						<thead>
							<tr>
								<th>Primeiro nome</th>
								<th>Idade</th>
								<th>Possui CTPS</th>
								<th>Ocupação</th>
								<th>Qualificação</th>
								<th>Renda</th>
								<th>Possui BPC</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="retorno_view">
							<tr>
								<td>José Antonio</td>
								<td>40</td>
								<td>SIM</td>
								<td>Empreg. s/ Carteira</td>
								<td>Não possui</td>
								<td>R$ 1.000</td>
								<td>SIM</td>
								<td>
									<a href="javascript::void(0)" class="btn btn-outline-primary pull-left">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="modal-container-105420" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Condições de Trabalho e Renda</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-top: 30px"><input type="checkbox"> Tem CTPS</label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Ocupação</label>
                            <select class="form-control">
                            	<option>CONTA PRÓPRIA/AUTÔNOMO/BICO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-top: 20px"><input type="checkbox"> Possui qualificação?</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Identificação a qualificação, caso possua</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Renda mensal</label>
                            <input class="form-control" onKeyPress="return(MascaraMoeda(this,'.',',',event))" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <span id="clickbpc" data-toggle="tooltip" data-placement="bottom" title="Informar BPC" style="margin-top: 20px" class="btn btn-secondary btn-lg">
                            	<i class="fas fa-dollar-sign"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div style="display: none;" id="bpc" class="div_divisor_2">
	                
	                <div class="row">
	                    <div class="col-lg-5">
	                        <div class="form-group">
	                            <label class="control-label">Benefício</label>
	                            <select class="form-control">
	                            	<option>BOLSA FAMÍLIA</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Valor</label>
	                            <input class="form-control" onKeyPress="return(MascaraMoeda(this,'.',',',event))" type="text" />
	                        </div>
	                    </div>
	                </div>
	                
	                <div class="row">
	                	<div class="col-lg-12">
							<table class="table table-hover table-sm table-bordered">
								<thead>
									<tr>
										<th></th>
										<th>Benefício</th>
										<th>Valor R$</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="text-align: right;"><input type="radio" id='regular' name="optradio"></td>
										<td>BOLSA FAMÍLIA</td>
										<td>R$ 200,00</td>
									</tr>
								</tbody>
							</table>
	                	</div>
	                </div>

	                <div class="row">
	                    <div class="col-lg-12" style="text-align: center; margin: auto">
	                        <a href="#" type="button" class="btn btn-link text-success"> Selecionar</a>
	                        <a href="javascript::void(0)" onclick="return fecharBpc()" type="button" class="btn btn-link text-danger"> Fechar</a>
	                    </div>
	                </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

	$('[data-toggle="tooltip"]').tooltip();

	$("#clickbpc").on( "click", function(){
		$('#bpc').show();
	});
});

function fecharBpc(){
	$('#bpc').hide();
}

function MascaraMoeda(objTextBox, SeparadorMilesimo, SeparadorDecimal, e){
    var sep = 0;
    var key = '';
    var i = j = 0;
    var len = len2 = 0;
    var strCheck = '0123456789';
    var aux = aux2 = '';
    var whichCode = (window.Event) ? e.which : e.keyCode;
    if (whichCode == 13) return true;
    key = String.fromCharCode(whichCode); // Valor para o código da Chave
    if (strCheck.indexOf(key) == -1) return false; // Chave inválida
    len = objTextBox.value.length;
    for(i = 0; i < len; i++)
        if ((objTextBox.value.charAt(i) != '0') && (objTextBox.value.charAt(i) != SeparadorDecimal)) break;
    aux = '';
    for(; i < len; i++)
        if (strCheck.indexOf(objTextBox.value.charAt(i))!=-1) aux += objTextBox.value.charAt(i);
    aux += key;
    len = aux.length;
    if (len == 0) objTextBox.value = '';
    if (len == 1) objTextBox.value = '0'+ SeparadorDecimal + '0' + aux;
    if (len == 2) objTextBox.value = '0'+ SeparadorDecimal + aux;
    if (len > 2) {
        aux2 = '';
        for (j = 0, i = len - 3; i >= 0; i--) {
            if (j == 3) {
                aux2 += SeparadorMilesimo;
                j = 0;
            }
            aux2 += aux.charAt(i);
            j++;
        }
        objTextBox.value = '';
        len2 = aux2.length;
        for (i = len2 - 1; i >= 0; i--)
        objTextBox.value += aux2.charAt(i);
        objTextBox.value += SeparadorDecimal + aux.substr(len - 2, len);
    }
    return false;
}
</script>


{% endblock %}