{% extends "_layout/_layout.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<br/>
			<center>
				<h1>
					Prontuário Social
				</h1>

				<p style="margin-top: 30px;">
					<img src="{{URL_DEFAULT}}/assets/imgs/ProntuarioSocial.jpg">
				</p>

				<p style="margin-top: 50px; float: left;">
					<img width="30%" src="{{URL_DEFAULT}}/assets/imgs/logo_prefeitura.jpg">
				</p>

				<p style="margin-top: 50px;float: right;">
					<img width="20%" src="{{URL_DEFAULT}}/assets/imgs/cogel2.png">
				</p>
			</center>
		</div>
	</div>
</div>
{% endblock %}