{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><br/>
			<a href="{{URL_DEFAULT}}/atendimento/indexAtendimento" class="btn btn-xs btn-outline-link">&laquo; Atendimento</a>
			<h3 class="text-center">
				Acompanhamento
			</h3><hr/>
		        <div class="card-body">
		            <div class="div_divisor_2">
		                <div class="row">
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Data</label>
		                            <input readonly="" value='{{ theme.getDateEnd|date("d/m/Y") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Hora</label>
		                             <input readonly="" value='{{ theme.getDateEnd|date("H:i:s") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Unidade</label>
									<select readonly class="form-control" id="sel1">
										<option value="1" selected="">CRAS I</option>
										<option value="2">CRAS II</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Técnico</label>
		                            <input id="tecnico" readonly="" value="FATIMA" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">NIS</label>
		                            <input id="nis" readonly="" value="120.1934.788-3" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CPF</label>
		                            <input id="cpf" readonly="" value="765.543.237-87" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>


		                <div class="row">
		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Nome da Pessoa de Referência</label>
		                            <input value="José Antonio" readonly="" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Telefone</label>
		                             <input readonly="" value="3212-7665" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Sexo</label>
									<select readonly class="form-control">
										<option value="1" selected="">Masculino</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Cor/Raça</label>
									<select readonly class="form-control">
										<option value="1" selected="">Parda</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Data</label>
		                            <input value="21/05/2017" readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Idade</label>
		                            <input value="40" readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="div_divisor_2">
		                <div class="row">
		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CEP</label>
		                            <input value="40123-674" readonly="" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Endereço (Rua, Av.)</label>
		                             <input value="Rua dos Algibebes" readonly="" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">N°</label>
		                            <input value="15 A" readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Complemento</label>
		                            <input value="Complemento A" readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Bairro</label>
		                            <input value="Centro" readonly="" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Município</label>
		                            <input value="Salvador" readonly="" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">UF</label>
		                            <input value="BA" readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Ponto de Referência</label>
		                            <input value="Ponto de ref." readonly="" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>

		            </div>

		            <br/><br/>

		            <h4>
		            	<center>Anotações do atendimento</center>
		            </h4>

	            	<div class="row">
	                	<div class="col-lg-12" style="text-align: center; margin-top: 15px;">
	                		<a href="{{URL_DEFAULT}}/pessoa/indexPessoa" class="btn btn-outline-info btn-lg"><i class="fas fa-user"></i> Pessoa Referência</a>
	                		<a href="{{URL_DEFAULT}}/composicao-familiar/indexComposicao" class="btn btn-outline-info btn-lg"><i class="fas fa-users"></i> Composição Familiar</a>
	                		<a href="{{URL_DEFAULT}}/habitacionais/indexCondicoes" class="btn btn-outline-info btn-lg"><i class="fas fa-home"></i> Condições Habitacionais</a>
	                		<a href="{{URL_DEFAULT}}/educacionais/indexCondicoesEducacionais" class="btn btn-outline-info btn-lg"><i class="fas fa-book"></i> Condições Educacionais</a>
	                	</div>
	                	<div class="col-lg-12" style="text-align: center; margin-top: 15px;">
	                		<a href="{{URL_DEFAULT}}/trabalhorenda/indexTrabalhoRenda" class="btn btn-outline-info btn-lg"><i class="fas fa-briefcase"></i> Condições de Trabalho e Renda</a>
	                		<a href="{{URL_DEFAULT}}/saude/indexSaude" class="btn btn-outline-info btn-lg"><i class="fas fa-notes-medical"></i> Condições de Saúde</a>
	                		<a href="{{URL_DEFAULT}}/beneficios/indexBeneficio" class="btn btn-outline-info btn-lg"><i class="fas fa-stopwatch"></i> Acesso a Benefícios Eventuais</a>
	                	</div>

	                	<div class="col-lg-12" style="text-align: center; margin-top: 15px;">
	                		<a href="{{URL_DEFAULT}}/violencia/indexViolencia" class="btn btn-outline-info btn-lg"><i class="fas fa-sad-tear"></i> Situações de Violência e Violação de Direitos</a>
	                		<a href="{{URL_DEFAULT}}/convivencia/indexConvivencia" class="btn btn-outline-info btn-lg"><i class="fas fa-people-carry"></i> Convivência Familiar e Comunitária</a>
	                	</div>

	                	<div class="col-lg-12" style="text-align: center; margin-top: 15px;">
	                		<a href="{{URL_DEFAULT}}/fortalecimento/indexFortalecimento" class="btn btn-outline-info btn-lg"><i class="fas fa-share-alt"></i> Convivência e Fortalecimento de Vínculos</a>
	                		<a href="{{URL_DEFAULT}}/socioeducativas/indexSocioeducativas" class="btn btn-outline-info btn-lg"><i class="fab fa-creative-commons-share"></i></i> Cumprimento de Medidas Socioeducativas</a>
	                	</div>

	                	<div class="col-lg-12" style="text-align: center; margin-top: 15px;">
	                		<a href="{{URL_DEFAULT}}/acolhimento/indexAcolhimento" class="btn btn-outline-info btn-lg"><i class="fas fa-hand-holding-heart"></i> Acolhimento Institucional ou Familiar</a>
	                		<a href="{{URL_DEFAULT}}/acompanhamento/indexAcompanhamento" class="btn btn-outline-info btn-lg"><i class="fas fa-layer-group"></i> Planejamento e Evolução do Acompanhamento Familiar</a>
	                	</div>

	                </div>
	                
	                <br/><br/><br/>

            	</div>
		</div>
	</div>
</div>

{% include 'atendimento/modais/_modal_endereco.html' %}

<script>
$(function(){

	$.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho',
        'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
        'Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
	$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $("#datepicker_init").datepicker({
        onSelect: function (selected){
            $("#datepicker_fim").datepicker("option", "minDate", selected);
        }
    });
    
    $("#datepicker_fim").datepicker({
        onSelect: function (selected){
            $("#datepicker_init").datepicker("option", "maxDate", selected)
        }
    });


	$('#btn_filtrar').on('click', function(){

		var unidade = $('#unidade').val();
		var pessoa_ref = $('#pessoa_ref').val();
		var apelido = $('#apelido').val();
		var nis = $('#nis').val();
		var tecnico = $('#tecnico').val();
		var datepicker_init = $('#datepicker_init').val();
		var datepicker_fim = $('#datepicker_fim').val();
		
		var dados_input = {
			'token':'d4sad45as4d54asd54as5d4',
			'unidade':unidade,
			'pessoa_ref':pessoa_ref,
			'apelido':apelido,
			'nis':nis,
			'tecnico':tecnico,
			'data_inicio':datepicker_init,
			'data_fim':datepicker_fim,
		}

		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';
		
		if( $(this).html() !== loadingText ){
		  $this.data('original-text', $(this).html());
		  $this.html(loadingText);
		}

		setTimeout(function() {
		  $this.html($this.data('original-text'));
		  $this.blur();
		}, 2000);

		$.ajax({
			method: "POST",
			url: "../externo/acesso",
			data: dados_input,
			success: function(data){
	        	console.log('retorno',data);
	        	// JSON.parse();
	      	}
			//data: { name: "John", location: "Boston" }
		}).done(function( msg ) {
			//alert( "Data Saved: " + msg );
		});

	});

	$('[data-toggle="tooltip"]').tooltip();
});
</script>


{% endblock %}