{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/atendimento/indexAtendimento" class="btn btn-xs btn-outline-link">&laquo; Atendimento</a>
			<h3 class="text-center">
				Registro de Atendimento (editar)
			</h3><hr/>

		        <div class="card-body">
		            <div class="div_divisor_1">
		                <div class="row">
		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Data</label>
		                            <input readonly="" value='{{ theme.getDateEnd|date("d/m/Y") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Hora</label>
		                             <input readonly="" value='{{ theme.getDateEnd|date("H:i:s") }}' type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Forma de Acesso</label>
									<select readonly class="form-control" id="forma_acesso">
										<option value="1">BUSCA ATIVA</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Unidade</label>
									<select readonly class="form-control" id="sel1">
										<option value="1" selected="">CRAS I</option>
										<option value="2">CRAS II</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Técnico</label>
		                            <input id="tecnico" class="form-control" readonly="" value="FATIMA" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">NIS</label>
		                            <input id="nis" readonly="" value="120.1934.788-3" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CPF</label>
		                            <input id="cpf" readonly="" value="765.543.237-87" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>


		                <div class="row">
		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Pessoa de Referência</label>
		                            <input id="pessoa_referencia" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Telefone</label>
		                             <input id="telefone" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Sexo</label>
									<select class="form-control">
										<option value="1" selected="">Masculino</option>
										<option value="2">Feminino</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Cor/Raça</label>
									<select class="form-control">
										<option value="1">Branco</option>
										<option value="2">Preto</option>
										<option value="3" selected>Pardo</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Nascimento</label>
		                            <input id="nascimento" class="form-control data" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Idade</label>
		                            <input readonly="" value="40" id="idade" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="div_divisor_1">
		                <div class="row">
		                    <div class="col-lg-1">
		                        <div class="form-group">
									<label style="margin-bottom: 0px"><input type="checkbox" name="vehicle1" value="Bike"> Endereço de abrigo</label>
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">CEP</label>
		                            <input id="cep_registro" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Endereço (Rua, Av.)</label>
		                            <input id="endereco_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">N°</label>
		                            <input id="num_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Complemento</label>
		                            <input id="complemento_cep" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Bairro</label>
		                            <input id="bairro_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Município</label>
		                            <input id="municipio_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">UF</label>
		                            <input id="estado_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Ponto de Referência</label>
		                            <input id="referencia_cep" class="form-control" type="text" />
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>

		            <div class="div_divisor_2">
		                <div class="row">

	                    	<div class="col-lg-11">
		                        <div class="form-group" style="margin-bottom:0px;">
		                            <label class="control-label">Demanda Apresentada</label>
		                        </div>
		                    </div>
		                	
		                    <div class="col-lg-1">
		                    	<span id="mais_uma_demanda" class="btn btn-secondary">+1</span>
		                    </div>

		                </div>

		                <div class="row" id="demanda_clone">

	                    	<div class="col-lg-3">
		                        <div class="form-group">
		                        	<br/>
									<select class="form-control" id="forma_acesso">
										<option value="1">ATUALIZAÇÃO CADASTRAL</option>
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-4" style="padding-top: 35px;text-align: center;">
		                        <div class="form-group">
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle1" value="Bike"> Orientação</label> 
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle2" value="Car"> Outro CRAS </label>
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle3" value="Boat"> Outro Órgão </label> 
		                        </div>
		                    </div>

		                </div>
		                <div id="cloned_demanda"></div>

		            </div>

		            <div class="div_divisor_2">
		            	<div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label class="control-label">Breve relato do atendimento</label>
		                            <textarea class="form-control"></textarea>
		                        </div>
		                    </div>
		                </div>
		            </div>


		            <div class="div_divisor_2">

		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label for="uni_atend" class="control-label">Como acessou a unidade para o 1° atendimento</label>
									<select onchange="return unidadeAtendimento(this);" class="form-control" id="uni_atend">
										<option value="1">Em decorrência de encaminhamento realizado por outros serviços/unidades de Proteção Social Básica</option>
										<option value="2">Outros</option>
									</select>
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Detalhe (se seleção acima for OUTROS)</label>
		                             <input id="detalhe_outros" type="text" disabled="" class="form-control" />
		                        </div>
		                    </div>
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Nome do contato do órgão (Se encaminhamento)</label>
		                             <input type="text" class="form-control" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-8">
		                        <div class="form-group">
		                            <label class="control-label">Motivação do 1° atendimento</label>
		                            <textarea class="form-control"></textarea>
		                        </div>
		                    </div>
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Programas Sociais</label>
			                        <div class="form-group">
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle1" value="Bike"> Bolsa Família</label> 
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle2" value="Car"> BPC </label>
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="vehicle3" value="Boat"> PETI </label>
										<label style="margin-bottom: 0px; margin-right: 5px"><input type="checkbox" name="vehicle3" value="Boat"> Outros </label>
										<input type="text" class="form-control" />
			                        </div>
		                        </div>
		                    </div>
		                </div><br/>

		            </div>

		            <br/><br/>
	            	<div class="row">
	                	<div class="col-lg-6" style="text-align: left; ">
	                		<button type="button" class="btn btn-warning"><i class="far fa-user-circle"></i> Capturar identificação</button>
	                		<button type="button" class="btn btn-info"><i class="fas fa-print"></i> Impressão</button>
	                	</div>
	                	<div class="col-lg-6" style="text-align: right; ">
	                		<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
	                		<button type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> 	Cancelar</button>
	                	</div>
	                </div>
	                <br/><br/><br/>
            	</div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

{% include 'atendimento/modais/_modal_endereco.html' %}

<script>
$(function(){

	
	$.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho',
        'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
        'Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
	$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

	$(".data").datepicker({ changeYear: true,changeMonth: true,maxDate: '-1D',yearRange: '1918:2018' });

    /*$("#datepicker_init").datepicker({
        onSelect: function (selected){
            $("#datepicker_fim").datepicker("option", "minDate", selected);
        }
    });
    
    $("#datepicker_fim").datepicker({
        onSelect: function (selected){
            $("#datepicker_init").datepicker("option", "maxDate", selected)
        }
    });*/

    $("#cep_registro").blur(function(){
        var cep = $(this).val().replace(/\D/g, '');
        if(cep != ""){

            var validacep = /^[0-9]{8}$/;

            if(validacep.test(cep)){

                $("#endereco_cep").val("...");
                $("#bairro_cep").val("...");
                $("#municipio_cep").val("...");
                $("#estado_cep").val("...");

                $.getJSON("https://viacep.com.br/ws/"+cep+"/json/?callback=?", function(dados) {

                    if(!("erro" in dados)){
                        $("#endereco_cep").val(dados.logradouro);
                        $("#bairro_cep").val(dados.bairro);
                        $("#municipio_cep").val(dados.localidade);
                        $("#estado_cep").val(dados.uf);
                    }else{
                        alert("CEP não encontrado.");
                    }

                });
            }else{
                alert("Formato de CEP inválido.");
            }
        }
    });

    var cnt_elem=0;
    $('#mais_uma_demanda').on('click', function(){
    	var html = `
    	<div class="row">
	    	<div class="col-lg-3">
	            <div class="form-group">
					<select class="form-control" id="forma_acesso">
						<option value="1">ATUALIZAÇÃO CADASTRAL</option>
					</select>
	            </div>
	        </div>

	        <div class="col-lg-4" style="padding-top: 10px;text-align: center; ">
	            <div class="form-group">
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check1" value="Orientação"> Orientação</label> 
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check2" value="Outro CRAS"> Outro CRAS </label>
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check3" value=" Outro Órgão"> Outro Órgão </label> 
	            </div>
	        </div>
	    	<div class="col-lg-1" style="margin-top:10px; color:red; cursor:pointer">
	            <div class="form-group">
					<span onclick="return removeLinha(this)" title="remover linha"><i class="fas fa-minus-circle"></i></span>
	            </div>
	        </div>
        </div>`;
        $( "#cloned_demanda" ).append(html);
        cnt_elem++;
    });

	$('#btn_filtrar').on('click', function(){

		var unidade = $('#unidade').val();
		var pessoa_ref = $('#pessoa_ref').val();
		var apelido = $('#apelido').val();
		var nis = $('#nis').val();
		var tecnico = $('#tecnico').val();
		var datepicker_init = $('#datepicker_init').val();
		var datepicker_fim = $('#datepicker_fim').val();
		
		var dados_input = {
			'token':'d4sad45as4d54asd54as5d4',
			'unidade':unidade,
			'pessoa_ref':pessoa_ref,
			'apelido':apelido,
			'nis':nis,
			'tecnico':tecnico,
			'data_inicio':datepicker_init,
			'data_fim':datepicker_fim,
		}

		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';
		
		if( $(this).html() !== loadingText ){
		  $this.data('original-text', $(this).html());
		  $this.html(loadingText);
		}

		setTimeout(function() {
		  $this.html($this.data('original-text'));
		  $this.blur();
		}, 2000);

		$.ajax({
			method: "POST",
			url: "../externo/acesso",
			data: dados_input,
			success: function(data){
	        	console.log('retorno',data);
	        	// JSON.parse();
	      	}
			//data: { name: "John", location: "Boston" }
		}).done(function( msg ) {
			//alert( "Data Saved: " + msg );
		});

	});

	$('[data-toggle="tooltip"]').tooltip();

	$('#nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');
	$('#cep_registro').mask('00000-000');

});

function unidadeAtendimento(ts){
	if(ts.value == 2){
		$('#detalhe_outros').attr('disabled', false);
	}else{
		$('#detalhe_outros').attr('disabled', true);
	}
}

function removeLinha(ts){
	ts.parentNode.parentNode.parentNode.remove();
}
</script>


{% endblock %}