{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/><br/>
			<h3 class="text-center">
				Atendimento Técnico
			</h3>
			<hr/>

	        <div class="card-body">
	        	<input type="hidden" id="token" value="{{ form_token() }}" />
				<!--<div class="row" style="text-align: right;">
					<div class="col-lg-12">
						<a href="novoAtendimento" type="button" class="btn btn-outline-success"><span class="fa fa-plus"></span> NOVO</a>
					</div>
				</div><br/>-->
	            <div>
	            <form action="" method="get">
	                <div class="row div_divisor_2">
	                    <div class="col-lg-3">
					        <div class="form-group">
					            <label class="control-label">Unidade</label>
					            <select name="id_unidade" class="form-control">
					            	{% for unidade in retorno['unidades'] %}
					            		{% if retorno['_get']['id_unidade']%}
					            			{% if unidade.id == retorno['_get']['id_unidade']%}
					            				<option selected="" value="{{unidade.id}}">{{unidade.nome}}</option>
					            			{% else %}
					            				<option value="{{unidade.id}}">{{unidade.nome}}</option>
					            			{% endif %}
					            		{% else %}
					            			<option value="{{unidade.id}}">{{unidade.nome}}</option>
					            		{% endif %}
					            	{% endfor %}
					            </select>
					        </div>
	                    </div>

	                    <div class="col-lg-4" style="margin-top: 30px;">
	                        <div class="form-group">
								 <div class="form-check-inline">
								  <label class="form-check-label">
								  	{% if retorno['_get']['atendimento'] == 1 %}
								    	<input id="filtro_atendimento" title="Pre-atendimento" name="atendimento" type="radio" value="1" class="form-check-input" checked>Pre-atendimento
								    {% else %}
										<input id="filtro_atendimento" title="Pre-atendimento" name="atendimento" type="radio" value="1" class="form-check-input">Pre-atendimento
								    {% endif %}
								  </label>
								</div>
								<div class="form-check-inline">
								  <label class="form-check-label">
								  	{% if retorno['_get']['atendimento'] == 2 %}
								    	<input id="filtro_atendimento" title="Atendido" name="atendimento" type="radio" value="2" class="form-check-input" checked>Atendido
								    {% else %}
								    	<input id="filtro_atendimento" title="Atendido" name="atendimento" type="radio" value="2" class="form-check-input">Atendido
								    {% endif %}
								  </label>
								</div>
								<div class="form-check-inline">
								  <label class="form-check-label">

								  	{% if retorno['_get']['atendimento'] == 3 %}
								    	<input id="filtro_atendimento" title="Todos" name="atendimento" type="radio" value="3" class="form-check-input" checked>Todos
								    {% else %}
								    	<input id="filtro_atendimento" title="Todos" name="atendimento" type="radio" value="3" class="form-check-input">Todos
								    {% endif %}
								  </label>
								</div> 
	                        </div>
	                    </div>

	                </div>

	                <div class="row div_divisor_2">
	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Pessoa de Referência</label>
	                            <input autocomplete="off" value="{{ retorno['_get']['pessoa'] }}" name="pessoa" id="pessoa_ref" type="text" class="form-control" />
	                        </div>
	                    </div>

	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Apelido</label>
	                            <input autocomplete="off" value="{{ retorno['_get']['apelido'] }}" name="apelido" id="apelido" type="text" class="form-control" />
	                        </div>
	                    </div>

	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">NIS</label>
	                            <input autocomplete="off" value="{{ retorno['_get']['nis'] }}" name="nis" id="nis" class="form-control nis" type="text" />
	                        </div>
	                    </div>

	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Técnico</label>
	                            <input autocomplete="off" value="{{ retorno['_get']['tecnico'] }}" name="tecnico" id="tecnico" class="form-control" type="text" />
	                        </div>
	                    </div>

	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Período</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<input value="{{ retorno['_get']['periodo_ini'] }}" name="periodo_ini" placeholder="data início" id="datepicker_init" class="form-control rounded-0" type="text" require value="" />
										<span class="input-group-text border-right-0 border-left-0 rounded-0">a</span>
										<input value="{{ retorno['_get']['periodo_fim'] }}" name="periodo_fim" placeholder="data fim" id="datepicker_fim" class="form-control rounded-0" type="text" require value="" />
									</div>
								</div>
							</div>
	                    </div>
	                </div><br/>

					<div class="row">
						<div class="col-lg-12">
							<center>
								<button id="btn_filtrar" type="submit" class="btn btn-outline-primary"><span class="fa fa-search"></span> FILTRAR</button>
							</center>
						</div>
					</div>
	            </div>
	            </form>
	        </div>

			<div>
				<div class="col-md-12 col-lg-12" >
					<div >
						<table class="table table-hover table-sm table-bordered">
							<thead>
								<tr>
									<th>Data</th>
									<th>Hora</th>
									<th>Unidade</th>
									<th>Pessoa de referência</th>
									<th>NIS</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
				            	{% if (retorno['pessoa'] != null) or (retorno['pessoa'] != 0) %}
					            	{% for pessoa in retorno['pessoa'] %}
									<tr>
										<td>21/05/2018</td>
										<td>10:52</td>
										<td>{{pessoa.unidade}}</td>
										<td>{{pessoa.nome}}</td>
										<td>{{pessoa.nis}}</td>
										<td>
											{% if retorno['_get']['atendimento'] == 2 %}
												<a id="editar_atendimento" href="editarAtendimento?id={{pessoa.id}}" class="btn btn-primary pull-left">Editar</a>
											{% else %}
												<a id="editar_atendimento" href="javascript:void(0)" disabled class="btn btn-primary pull-left disabled">Editar</a>
											{% endif %}
											<a href="novoAtendimento?id={{pessoa.id}}" class="btn btn-success pull-left">Novo</a>
										</td>
									</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<!--
<script type="text/javascript">
var usuario = new Usuario();

$( window ).on( "load", function() {
    //usuario.teste();
});
</script>
-->

<script>
$(function(){

	$.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
	$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $("#datepicker_init").datepicker({
        onSelect: function (selected){
            $("#datepicker_fim").datepicker("option", "minDate", selected);
        }
    });
    
    $("#datepicker_fim").datepicker({
        onSelect: function (selected){
            $("#datepicker_init").datepicker("option", "maxDate", selected)
        }
    });

	$('#btn_filtrar').on('click', function(){


		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';

		if( $(this).html() !== loadingText ){
			$this.data('original-text', $(this).html());
			$this.html(loadingText);
		}

		var filtroatendimento;
		var ftlstat = document.querySelectorAll('#filtro_atendimento');
		Array.prototype.forEach.call(ftlstat, function(elements, index){
		    if(elements.checked){
		    	filtroatendimento = elements.value;
		    }
		});

		var token 			= $('#token').val();
		var unidade 		= $('#unidade').val();
		var pessoa_ref 		= $('#pessoa_ref').val();
		var apelido 		= $('#apelido').val();
		var nis 			= $('#nis').val();
		var tecnico 		= $('#tecnico').val();
		var datepicker_init = $('#datepicker_init').val();
		var datepicker_fim 	= $('#datepicker_fim').val();


		/*if(filtroatendimento == '2'){
			var imagem_load = '../assets/imgs/load.gif';
			$('#retorno_view').html(`<div class="centro_load"><img src="${imagem_load}" width="100px"></div>`);

			var dados_input;
			
			dados_input = {
				'token':token,
				'unidade':unidade,
				'pessoa_ref':pessoa_ref,
				'apelido':apelido,
				'nis':nis,
				'tecnico':tecnico,
				'data_inicio':datepicker_init,
				'data_fim':datepicker_fim,
				'filtro_atendimento':filtroatendimento
			}

			setTimeout(function() {
			  $this.html($this.data('original-text'));
			  $this.blur();
			}, 2000);

			$.ajax({
				method: "POST",
				url: "../pessoa/async_listaPessoaAtendimento",
				//url: "../externo/view",
				data: { input: dados_input },
				//dataType    : 'json',
				success: function(data){

					console.log(data);
					console.log( JSON.parse(data) );

		        	var tr_view = `
					<tr>
						<td>21/05/2018</td>
						<td>10:52</td>
						<td>CRAS I</td>
						<td>José Da Silva</td>
						<td>123.1235.458-88</td>
						<td>
							<a id="editar_atendimento" href="editarAtendimento?id=1" disabled class="btn btn-primary pull-left disabled">Editar</a>
							<a href="novoAtendimento?id=1" class="btn btn-success pull-left">Novo</a>
						</td>
					</tr>`;

					setTimeout(function() {
						$('#retorno_view').html(tr_view);
					}, 1600);
		      	}
			}).done(function(ret){

			});
		}else{
			alert('Não é possível realizar essa pesquisa');
		}*/

	});

	$('.nis').mask('000.0000.000-0');

	var els = document.querySelectorAll('input[type=radio]');
	els.forEach((el) => {
		if( el.checked ){
			console.log( el.value );
		}
	});

	$('input[type=radio]').change(function(){

		setTimeout(function(){

			var els = document.querySelectorAll('input[type=radio]');
			els.forEach((el) => {

				//$('#editar_atendimento').addClass('disabled').attr('disabled',true);
				$('#editar_atendimento').removeClass('disabled').attr('disabled',false);

				/*if( el.checked ){
					if( el.value == '1'){
						console.log('yes',el.value);
						$('#editar_atendimento').addClass('disabled').attr('disabled',true);
					}else{
						$('#editar_atendimento').removeClass('disabled').attr('disabled',false);
					}
				}*/
			});

		}, 0);

	});

});
</script>


{% endblock %}