{% extends "_layout/_layout.html" %}
{% block content %}

<link href="{{URL_DEFAULT}}/assets/css/bootstrap-clockpicker.min.css" rel="stylesheet">

<style type="text/css">
	.navbar h3 {
		color: #f5f5f5;
		margin-top: 14px;
	}
	.hljs-pre {
		background: #f8f8f8;
		padding: 3px;
	}
	.footer {
		border-top: 1px solid #eee;
		margin-top: 40px;
		padding: 40px 0;
	}
	.input-group {
		width: 110px;
		margin-bottom: 10px;
	}
	.pull-center {
		margin-left: auto;
		margin-right: auto;
	}
	@media (min-width: 768px) {
	  .container {
	    max-width: 730px;
	  }
	}
	@media (max-width: 767px) {
	  .pull-center {
	    float: right;
	  }
	}
	.col-lg-1-5{
		-ms-flex: 0 0 13.667%;
		flex: 0 0 13.667%;
		max-width: 13.667%;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/atendimento/indexAtendimento" class="btn btn-xs btn-outline-link">&laquo; Atendimento</a>
			<h3 class="text-center">
				Registro de Atendimento
			</h3><hr/>

			<form method="POST" action="cadastrarAtendimento">
				<input type="hidden" name="input[token]" value="{{ form_token() }}" />
				<input type="text" name="input[id_pessoa]" value="{{retorno['umaPessoa'][0]['id']}}" />
		        <div class="card-body">
		            <div class="div_divisor_1">
		                <div class="row">
		                    
		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Data</label>
		                            <input name="input[data]" value='{{ theme.getDateEnd|date("d/m/Y") }}' type="text" class="form-control data_registro" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group clockpicker" data-placement="bottom" data-align="bottom" data-autoclose="true">
		                            <label class="control-label">Hora</label>
		                            <input onkeyup="return this.value" name="input[hora]" value='{{ theme.getDateEnd|date("H:i") }}' type="text" class="form-control hora_registro" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Forma de Acesso</label>
		                            {% if retorno['formaAcesso'] %}
		                            	<select name="input[id_forma_acesso]" class="form-control" id="forma_acesso">
			                            	{% for fa in retorno['formaAcesso'] %}
			                            		<option value="{{fa.id}}">{{fa.nome}}</option>
			                            	{% endfor %}
		                            {% else %}
		                            	<select readonly class="form-control" id="forma_acesso">
		                            {% endif %}

									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Unidade</label>
		                            {% if retorno['unidades'] %}
		                            	<select name="input[id_unidade]" class="form-control" id="id_unidade">
			                            	{% for und in retorno['unidades'] %}
			                            		<option value="{{und.id}}">{{und.nome}}</option>
			                            	{% endfor %}
		                            {% else %}
		                            	<select readonly class="form-control" id="id_unidade">
		                            {% endif %}

									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Técnico</label>
		                            {% if retorno['tecnicos'] %}
		                            	<select name="input[id_tecnico]" class="form-control" id="id_tecnico">
			                            	{% for tec in retorno['tecnicos'] %}
			                            		<option value="{{tec.id}}">{{tec.nome}}</option>
			                            	{% endfor %}
		                            {% else %}
		                            	<select readonly class="form-control" id="id_tecnico">
		                            {% endif %}

									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">NIS</label>
		                            <input autocomplete="off" value="{{retorno['umaPessoa'][0]['nis']}}" name="input[nis]" id="nis" value="120.1934.788-3" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">CPF</label>
		                            <input autocomplete="off" value="{{retorno['umaPessoa'][0]['cpf']}}" name="input[cpf]" id="cpf" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Pessoa de Referência</label>
		                            <input autocomplete="off" name="input[nome_pessoa]" value="{{retorno['umaPessoa'][0]['nome']}}" id="pessoa_referencia" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Telefone</label>
		                             <input autocomplete="off" name="input[telefone]" value="{{retorno['umaPessoa'][0]['telefone']}}" id="telefone" type="text" class="form-control telefone" />
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Sexo</label>
									<select name="input[sexo]" class="form-control">
			                            {% if retorno['umaPessoa'][0]['sexo'] %}
			                            	{% if retorno['umaPessoa'][0]['sexo'] == 1 %}
												<option value="null">Selecione a opção</option>
												<option value="1" selected="">Masculino</option>
												<option value="2">Feminino</option>
			                            	{% elseif retorno['umaPessoa'][0]['sexo'] == 2 %}
												<option value="null">Selecione a opção</option>
												<option value="1">Masculino</option>
												<option value="2" selected="">Feminino</option>
			                            	{% else %}
												<option value="null" selected="">Selecione a opção</option>
												<option value="1">Masculino</option>
												<option value="2">Feminino</option>
			                            	{% endif %}
			                            {% else %}
												<option value="null" selected="">Selecione a opção</option>
												<option value="1">Masculino</option>
												<option value="2">Feminino</option>
			                            {% endif %}
									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Cor/Raça</label>
									<select name="input[cor_raca]" class="form-control">

			                            {% if retorno['umaPessoa'][0]['cor_raca'] %}
			                            	{% if retorno['umaPessoa'][0]['cor_raca'] == 1 %}
												<option value="null">Selecione a opção</option>
												<option value="1" selected="">Branco</option>
												<option value="2">Preto</option>
												<option value="3">Pardo</option>
			                            	{% elseif retorno['umaPessoa'][0]['cor_raca'] == 2 %}
												<option value="null" selected="">Selecione a opção</option>
												<option value="1">Branco</option>
												<option value="2" selected="">Preto</option>
												<option value="3">Pardo</option>
			                            	{% elseif retorno['umaPessoa'][0]['cor_raca'] == 3 %}
												<option value="null" selected="">Selecione a opção</option>
												<option value="1">Branco</option>
												<option value="2" selected="">Preto</option>
												<option value="3">Pardo</option>
			                            	{% else %}
												<option value="null">Selecione a opção</option>
												<option value="1">Branco</option>
												<option value="2">Preto</option>
												<option value="3" selected="">Pardo</option>
			                            	{% endif %}
			                            {% else %}
											<option value="null" selected="">Selecione a opção</option>
											<option value="1">Branco</option>
											<option value="2">Preto</option>
											<option value="3">Pardo</option>
			                            {% endif %}

									</select>
		                        </div>
		                    </div>

		                    <div class="col-lg-2">
		                        <div class="form-group">
		                            <label class="control-label">Nascimento</label>
		                            <input name="input[data_nascimento]" value="{{retorno['umaPessoa'][0]['data_nascimento']}}" id="nascimento" class="form-control data_nasci" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">Idade</label>
		                            <input readonly="" value="" id="idade" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="div_divisor_1">
		                <div class="row">
		                    <div class="col-lg-1">
		                        <div class="form-group">
									<label style="margin-bottom: 0px"><input type="checkbox" name="input[endereco_abrigo]"> Endereço de abrigo</label>
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">CEP</label>
		                            <input autocomplete="off" name="input[cep_endereco]" id="cep_registro" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-5">
		                        <div class="form-group">
		                            <label class="control-label">Endereço (Rua, Av.)</label>
		                            <input autocomplete="off" name="input[rua_endereco]" id="endereco_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">N°</label>
		                            <input autocomplete="off" name="input[numero_endereco]" id="num_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Complemento</label>
		                            <input autocomplete="off" name="input[complemento_endereco]" id="complemento_cep" class="form-control" type="text" />
		                        </div>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Bairro</label>
		                            <input name="input[bairro_endereco]" id="bairro_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Município</label>
		                            <input name="input[municipio_endereco]" id="municipio_cep" type="text" class="form-control" />
		                        </div>
		                    </div>

		                    <div class="col-lg-1">
		                        <div class="form-group">
		                            <label class="control-label">UF</label>
		                            <input name="input[estado_endereco]" id="estado_cep" class="form-control" type="text" />
		                        </div>
		                    </div>

		                    <div class="col-lg-3">
		                        <div class="form-group">
		                            <label class="control-label">Ponto de Referência</label>
		                            <input autocomplete="off" name="input[referencia_endereco]" id="referencia_cep" class="form-control" type="text" />
		                        </div>
		                    </div>
		                    
		                </div>
		            </div>

		            <div class="div_divisor_2">
		                <div class="row">
	                    	<div class="col-lg-11">
		                        <div class="form-group" style="margin-bottom:0px;">
		                            <label class="control-label">Demanda Apresentada</label>
		                        </div>
		                    </div>
		                    <div class="col-lg-1">
		                    	<span id="mais_uma_demanda" class="btn btn-secondary">+1</span>
		                    </div>
		                </div>

		                <div class="row" id="demanda_clone">
	                    	<div class="col-lg-3">
		                        <div class="form-group">
		                        	<br/>
		                            {% if retorno['dmdsAprds'] %}
		                            	<select name="input[demanda_apresentada][0][id_demanda_apresentada]" class="form-control" id="id_demanda_apresentada">
			                            	{% for dema in retorno['dmdsAprds'] %}
			                            		<option value="{{dema.id}}">{{dema.nome}}</option>
			                            	{% endfor %}
			                            </select>
		                            {% else %}
		                            	<select readonly class="form-control" id="id_demanda_apresentada"></select>
		                            {% endif %}
		                        </div>
		                    </div>
		                    <div class="col-lg-4" style="padding-top: 35px;text-align: center;">
		                        <div class="form-group">
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="input[demanda_apresentada][0][orientacao]"> Orientação</label> 
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="input[demanda_apresentada][0][outro_cras]"> Outro CRAS </label>
									<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="input[demanda_apresentada][0][outro_orgao]"> Outro Órgão </label> 
		                        </div>
		                    </div>
		                </div>
		                <div id="cloned_demanda"></div>
		            </div>

		            <div class="div_divisor_2">
		            	<div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label class="control-label">Breve relato do atendimento</label>
		                            <textarea name="input[breve_atendimento]" class="form-control"></textarea>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="div_divisor_2">
		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="form-group">
		                            <label for="uni_atend" class="control-label">Como acessou a unidade para o 1° atendimento</label>
		                            {% if retorno['listPrimAtendt'] %}
		                            	<select onchange="return unidadeAtendimento(this);" name="input[id_primeiro_atendimento]" class="form-control" id="id_primeiro_atendimento">
			                            	{% for lpa in retorno['listPrimAtendt'] %}
			                            		<option value="{{lpa.id}}">{{lpa.opcao}}</option>
			                            	{% endfor %}
			                            </select>
		                            {% else %}
		                            	<select readonly class="form-control" name="input[id_primeiro_atendimento]" id="id_primeiro_atendimento"></select>
		                            {% endif %}
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Detalhe (se seleção acima for OUTROS)</label>
		                             <input name="input[detalhes]" id="detalhe_outros" type="text" disabled="" class="form-control" />
		                        </div>
		                    </div>
		                    <div class="col-lg-6">
		                        <div class="form-group">
		                            <label class="control-label">Nome do contato do órgão (Se encaminhamento)</label>
		                             <input name="input[nome_orgao]" type="text" class="form-control" />
		                        </div>
		                    </div>
		                </div>

		                <div class="row">
		                    <div class="col-lg-8">
		                        <div class="form-group">
		                            <label class="control-label">Motivação do 1° atendimento</label>
		                            <textarea name="input[motivacao_atendimento]" class="form-control"></textarea>
		                        </div>
		                    </div>
		                    <div class="col-lg-4">
		                        <div class="form-group">
		                            <label class="control-label">Programas Sociais</label>
			                        <div class="form-group">
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="input[bolsa_familia]"> Bolsa Família</label> 
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="input[bpc]"> BPC </label>
										<label style="margin-bottom: 0px; margin-right: 15px"><input type="checkbox" name="input[peti]"> PETI </label>
										<label style="margin-bottom: 0px; margin-right: 5px;"><input type="checkbox" name="input[outros]"> Outros </label>
										<input type="text" class="form-control" />
			                        </div>
		                        </div>
		                    </div>
		                </div><br/>

		            </div>

		            <br/><br/>
	            	<div class="row">
	                	<div class="col-lg-6" style="text-align: left; ">
	                		<button type="button" class="btn btn-warning"><i class="far fa-user-circle"></i> Capturar identificação</button>
	                		<button type="button" class="btn btn-info"><i class="fas fa-print"></i> Impressão</button>
	                	</div>
	                	<div class="col-lg-6" style="text-align: right; ">
	                		<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</button>
	                		<button type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</button>
	                	</div>
	                </div>
	                <br/><br/><br/>
            	</div>
            </form>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="{{URL_DEFAULT}}/assets/js/bootstrap-clockpicker.min.js"></script>

{% include 'atendimento/modais/_modal_endereco.html' %}

<script type="text/javascript">

$(function(){

	$('.clockpicker').clockpicker();

	$.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho',
        'Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun',
        'Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
	$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

	$(".data_nasci").datepicker({ changeYear: true,changeMonth: true,maxDate: '-1D',yearRange: '1900:2018' });

	//$(".data_registro").datepicker();
	$(".data_registro").datepicker({minDate: -7}); // data mínima = data atual

	$('.data_registro').mask('00/00/0000');
    $('.data_registro').keyup(function(event){
        this.value = '';
    });

    $('.hora_registro').mask('00:00');

    $('.hora_registro').keyup(function(){
    	var data = new Date();
    	var hora = data.getHours();
    	var minuto = data.getMinutes();
    	$(this).val(hora+':'+minuto)
    });

    /*$("#datepicker_init").datepicker({
        onSelect: function (selected){
            $("#datepicker_fim").datepicker("option", "minDate", selected);
        }
    });
    
    $("#datepicker_fim").datepicker({
        onSelect: function (selected){
            $("#datepicker_init").datepicker("option", "maxDate", selected)
        }
    });*/

    $("#cep_registro").blur(function(){
        var cep = $(this).val().replace(/\D/g, '');
        if(cep != ""){

            var validacep = /^[0-9]{8}$/;

            if(validacep.test(cep)){

                $("#endereco_cep").val("...");
                $("#bairro_cep").val("...");
                $("#municipio_cep").val("...");
                $("#estado_cep").val("...");

                $.getJSON("https://viacep.com.br/ws/"+cep+"/json/?callback=?", function(dados) {

                    if(!("erro" in dados)){
                        $("#endereco_cep").val(dados.logradouro);
                        $("#bairro_cep").val(dados.bairro);
                        $("#municipio_cep").val(dados.localidade);
                        $("#estado_cep").val(dados.uf);
                    }else{
                        alert("CEP não encontrado.");
                    }

                });
            }else{
                alert("Formato de CEP inválido.");
            }
        }
    });

    var cnt_elem=0;
    $('#mais_uma_demanda').on('click', function(){
    	var html = `
    	<div class="row">
	    	<div class="col-lg-3">
	            <div class="form-group">
					<select class="form-control" id="forma_acesso">
						<option value="1">ATUALIZAÇÃO CADASTRAL</option>
					</select>
	            </div>
	        </div>

	        <div class="col-lg-4" style="padding-top: 10px;text-align: center; ">
	            <div class="form-group">
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check1" value="Orientação"> Orientação</label> 
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check2" value="Outro CRAS"> Outro CRAS </label>
					<label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="dem_apre_check3" value=" Outro Órgão"> Outro Órgão </label> 
	            </div>
	        </div>
	    	<div class="col-lg-1" style="margin-top:10px; color:red; cursor:pointer">
	            <div class="form-group">
					<span onclick="return removeLinha(this)" title="remover linha"><i class="fas fa-minus-circle"></i></span>
	            </div>
	        </div>
        </div>`;
        $( "#cloned_demanda" ).append(html);
        cnt_elem++;
    });

	$('#btn_filtrar').on('click', function(){

		var unidade = $('#unidade').val();
		var pessoa_ref = $('#pessoa_ref').val();
		var apelido = $('#apelido').val();
		var nis = $('#nis').val();
		var tecnico = $('#tecnico').val();
		var datepicker_init = $('#datepicker_init').val();
		var datepicker_fim = $('#datepicker_fim').val();
		
		var dados_input = {
			'token':'d4sad45as4d54asd54as5d4',
			'unidade':unidade,
			'pessoa_ref':pessoa_ref,
			'apelido':apelido,
			'nis':nis,
			'tecnico':tecnico,
			'data_inicio':datepicker_init,
			'data_fim':datepicker_fim,
		}

		var $this = $(this);
		var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Aguarde...';
		
		if( $(this).html() !== loadingText ){
		  $this.data('original-text', $(this).html());
		  $this.html(loadingText);
		}

		setTimeout(function() {
		  $this.html($this.data('original-text'));
		  $this.blur();
		}, 2000);

		$.ajax({
			method: "POST",
			url: "../externo/acesso",
			data: dados_input,
			success: function(data){
	        	console.log('retorno',data);
	        	// JSON.parse();
	      	}
			//data: { name: "John", location: "Boston" }
		}).done(function( msg ) {
			//alert( "Data Saved: " + msg );
		});

	});

	$('[data-toggle="tooltip"]').tooltip();

	$('#nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');
	$('#cep_registro').mask('00000-000');
	$('.telefone').mask('(00)0000-0000');

});

function unidadeAtendimento(ts){
	if(ts.value == 2){
		$('#detalhe_outros').attr('disabled', false);
	}else{
		$('#detalhe_outros').attr('disabled', true);
	}
}

function removeLinha(ts){
	ts.parentNode.parentNode.parentNode.remove();
}
</script>


{% endblock %}