{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <a href="{{URL_DEFAULT}}/acolhimento/indexAcolhimento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
            <h3 class="text-center">
                Acolhimento Institucional ou Familiar (EDITAR)
            </h3>
            <hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle1" value="Bike"> Por perda temporária de domicílio</label> 
                            <label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle2" value="Car"> Criança sob guarda de outro </label>
                            <label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle3" value="Boat"> Adulto em situação prisional </label> 
                            <label style="margin-bottom: 0px; margin-right: 20px"><input type="checkbox" name="vehicle3" value="Boat"> Em internação </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Período da perda</label>
                            <div style="width: 100%; background-color: #ccc">
                                <div style="width: 47%; float: left; ">
                                    <input type="text" class="form-control data" />
                                </div>
                                <div style="width: 6%; float: left; padding-left: 2px;padding-top: 5px ">
                                   a
                                </div>
                                <div style="width: 47%; float: left; ">
                                    <input type="text" class="form-control data" />
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <div class="form-group">
                            <label class="control-label">Motivo da perda temporária</label>
                            <input id="apelido" type="text" class="form-control" />
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Período da guarda</label>
                            <div style="width: 100%; background-color: #ccc">
                                <div style="width: 47%; float: left; ">
                                    <input type="text" class="form-control data" />
                                </div>
                                <div style="width: 6%; float: left; padding-left: 2px; padding-top: 5px">
                                   a
                                </div>
                                <div style="width: 47%; float: left; ">
                                    <input type="text" class="form-control data" />
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Razão da guarda por outro</label>
                            <input id="apelido" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Detentor da guarda</label>
                            <input id="apelido" type="text" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="row div_divisor_2">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Acolhimento Institucional</label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="#" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
                </div>

                <br/>
                <div class="row div_divisor_tabela">
                    <div class="col-lg-12">
                        <a id="modal-105420" style="float: right;" href="#modal-container-105420" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
                        <table class="table table-hover table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Primeiro nome</th>
                                    <th>Início</th>
                                    <th>Fim</th>
                                    <th>Motivo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>José Antonio</td>
                                    <td>01/2017</td>
                                    <td>05/2017</td>
                                    <td>TESTE MOTIVO DE ACOLHIMENTO</td>
                                    <td>
                                        <a id="modal-958758" href="#modal-container-958758" role="button" class="btn btn-outline-primary pull-left" data-toggle="modal">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-container-105420" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Acolhimento Institucional ou Familiar</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Início</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Fim</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Motivação</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Instituição do acolhimento</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Responsável pela guarda</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-958758" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Acolhimento Institucional ou Familiar</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Início</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Fim</label>
                            <input class="form-control data" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Motivação</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Instituição do acolhimento</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Responsável pela guarda</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $('.data').datepicker({
        dateFormat: 'mm/yy'
    });

});
</script>

{% endblock %}