{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexSaude" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Saúde da Família (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">
                    <div class="col-lg-12">
                        <div class="form-group">
                        	<label style="margin-bottom: 0px;"><input type="checkbox" name="situacao" value="alimentar"> Situação de Insegurança Alimentar</label>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Observações referentes a saúde da família </label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="{{URLL_DEFAULT}}/habitacionais/indexCondicoes" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="{{URLL_DEFAULT}}/atendimento/acompanhamentoAtendimento" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>

                </div>

                <div class="row div_divisor_2">
					<div class="col-lg-12">
                    	<a id="modal-105420" style="float: right;" href="#modal-container-105420" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
						<table class="table table-hover table-sm table-bordered">
							<thead>
								<tr>
									<th>Primeiro nome</th>
									<th>Idade</th>
									<th>Deficiência</th>
									<th>Necessita cuidador</th>
									<th>Doença grave</th>
									<th>Remédio controlado</th>
									<th>Alcool</th>
									<th>Drogas</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="retorno_view">
								<tr>
									<td>José Antonio</td>
									<td>40</td>
									<td>SIM</td>
									<td>SIM</td>
									<td>SIM</td>
									<td>SIM</td>
									<td>SIM</td>
									<td>SIM</td>
									<td>
										<a id="modal-111" style="float: right;" href="#modal-container-111" role="button" class="btn btn-outline-primary" data-toggle="modal">Editar</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% include 'saude/modais/_adicionar.html' %}
{% include 'saude/modais/_editar.html' %}

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){
    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $('.data').datepicker();
    $('.mesesgestacao').mask('00');
});
</script>

{% endblock %}