{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexAcompanhamento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Acompanhamento Familiar - PAF ou PAEFI (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Inclusão</label>
                            <input type="text" class="form-control datap" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Desligamento</label>
                            <input type="text" class="form-control datap" />
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <label class="control-label">Razão do desligamento</label>
							<select class="form-control">
								<option value="1" selected="">EVASÃO OU RECUSA DA FAMÍLIA</option>
							</select>
                        </div>
                    </div>

                    <div class="col-lg-3" style="margin-top: 30px; text-align: center;">
                        <div class="form-group">
	                		<a href="#" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
	                		<a href="#" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                        </div>
                    </div>

					<div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Planejamento inicial</label>
                            <textarea rows="4" class="form-control">teste de alimentação de planejamento inicial</textarea>
                        </div>
					</div>
					<div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Evolução do acompanhamento familiar</label>
                            <textarea rows="4" class="form-control">teste de alimentação de evolução do acompanhamento familiar</textarea>
                        </div>
					</div>
				</div>


            </div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){
    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $(".datap").datepicker();
    $('.datap').keyup(function(event){
        this.value = '';
    });

});
</script>

{% endblock %}