{% extends "_layout/_layout.html" %}
{% block content %}

<style type="text/css">
	.input_data_violencia{
		width: 110px;
		height: calc(2.25rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexViolencia" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Violência e Violação de Direitos (EDITAR)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">
                    <div style="width: 100%; margin-left: 15px; margin-bottom: 10px">
                    	<div style="float: left; width: 50%">
	                        Acompanhado em 
	                        <input type="text" value='{{ theme.getDateEnd|date("d/m/Y") }}' class="input_data_violencia data" name="">
	                        a
	                        <input type="text" value='{{ theme.getDateEnd|date("d/m/Y") }}' class="input_data_violencia data" name="">
                        </div>

                        <div style="float: right; width: 50%">
	                        CREAS em que está sendo acompanhado 
	                        <select class="input_data_violencia">
	                        	<option>CREAS I</option>
	                        </select>
                    	</div>
                    </div>
					<div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Violência e Violação de Direitos</label>
                            <textarea rows="4" class="form-control">TESTE DE OBSERVAÇÃO SOBRE A ATUALIZAÇÃO</textarea>
                        </div>
					</div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="indexViolencia" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
				</div>
                <br/>
                <div class="row div_divisor_2">
                    <div class="col-lg-12">
                        <a id="modal-105420" style="float: right;" href="#modal-container-105420" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
                        <table class="table table-hover table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Primeiro nome</th>
                                    <th>Trabalho infantil</th>
                                    <th>Exploração sexual</th>
                                    <th>Abuso sexual</th>
                                    <th>Violência física</th>
                                    <th>Violência psicológica</th>
                                    <th>Negligência</th>
                                    <th>Trajetória de rua</th>
                                    <th>Discriminação</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>José Antonio</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>NÃO</td>
                                    <td>
                                        <a id="modal-111" style="float: right;" href="#modal-container-111" role="button" class="btn btn-outline-primary" data-toggle="modal">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
		</div>
	</div>
</div>

{% include 'violencia/modais/_adicionar.html' %}
{% include 'violencia/modais/_editar.html' %}

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $(".data").datepicker();

    $('#periodo_perda_ini').mask('00/00');
    $('#periodo_perda_fim').mask('00/00');

	$('.nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');

    $('.data').keyup(function(event){
        this.value = '';
    });

});
</script>

{% endblock %}