{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexTecnicos" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Técnicos (EDITAR)
			</h3>
			<hr/>

            <div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">

							<div class="form-wrap">

							    <form class="form-signin" method="post" action="atualizarTecnicos">
							    	<input type="hidden" name="input[token]" value="{{ form_token() }}" />

							    	{% for tecnicos in retorno.tecnico %}
								        <div class="form-group">
								            <label class="control-label">Nome do técnico</label>
								            <input value="{{tecnicos.nome}}" required autocomplete="off" type="text" name="input[nome]" class="form-control" />
								            <input value="{{tecnicos.id}}" type="hidden" name="input[id]" />
								        </div>
								    
								        <div class="form-group">
								            <label class="control-label">Unidade</label>
								            <select name="input[id_unidade]" class="form-control">
								            	{% for unidade in retorno.unidades %}
								            		{% if tecnicos.id_unidade == unidade.id %}
								            			<option selected="" value="{{unidade.id}}">{{unidade.nome}}</option>
								            		{% else %}
								            			<option value="{{unidade.id}}">{{unidade.nome}}</option>
								            		{% endif %}
								            	{% endfor %}
								            </select>
								        </div>
							        {% endfor %}
							        
							      	<br/>
							      	<button class="btn btn-primary" type="submit">editar</button>
							    </form>

			        	    </div>

						</div>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>

{% endblock %}