{% extends "_layout/_layout.html" %}
{% block content %}
<style type="text/css">
    .modal-dialog{
      max-width: 30%;
    }
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="../home/indexHome" class="btn btn-xs btn-outline-link">&laquo; Home</a>
			<h3 class="text-center">
				Técnicos
			</h3>
			<hr/>

            <div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div style="text-align: right;">
								<a href="novoTecnicos" class="btn btn-outline-success pull-right">Adicionar</a>
							</div>
							<table class="table table-hover table-sm table-bordered">
								<thead>
									<tr>
										<th>
											ID
										</th>
										<th>
											Nome
										</th>
										<th>
											Unidade
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% if retorno %}
									    {% for tecnico in retorno %}
											<tr>
												<td>{{ tecnico.id }}</td>
												<td>{{ tecnico.nome }}</td>
												<td>{{ tecnico.unidade }}</td>
												<td>
													<a href="editarTecnicos?id={{ tecnico.id }}" class="btn btn-outline-primary pull-left">Editar</a>
													<a href="javascript::void()" onclick="return deleteTecnicos({{ tecnico.id }})" data-toggle="modal" data-target="#myModal" class="btn btn-outline-danger pull-left">Apagar</a>
												</td>
											</tr>
									    {% endfor %}
								    {% else %}
									    Nenhum resultado encontrado
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>

<script type="text/javascript">
function deleteTecnicos(id){
	document.getElementById('idTecnicos').value = id;
}

//window.history.pushState("", "", '/newpage');
</script>

<div class="modal" id="myModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="deletarTecnicos">
				<input type="hidden" name="input[token]" value="{{ form_token() }}" />
				<div class="modal-header">
					<h4 class="modal-title">Apagar técnico</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<input id="idTecnicos" type="hidden" name="input[id]" />
				</div>
				<div class="modal-body">
					Confirma exclusão do técnico?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}