{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexTecnicos" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Técnicos (CADASTRAR)
			</h3>
			<hr/>

            <div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">

							<div class="form-wrap">

							    <form class="form-signin" method="post" action="cadastrarTecnicos">
							    	<input type="hidden" name="input[token]" value="{{ form_token() }}" />

							        <div class="form-group">
							            <label class="control-label">Nome do técnico</label>
							            <input required autocomplete="off" type="text" name="input[nome]" class="form-control" />
							        </div>
							        <div class="form-group">
							            <label class="control-label">Unidade</label>
							            <select name="input[id_unidade]" class="form-control">
							            	{% for unidade in retorno %}
							            		<option value="{{unidade.id}}">{{unidade.nome}}</option>
							            	{% endfor %}
							            </select>
							        </div>
							      	<br/>
							      	{% if retorno %}
							      		<button class="btn btn-primary" type="submit">cadastrar</button>
							      	{% else %}
							      		<button disabled="" class="btn btn-primary" type="submit">não é possível cadastrar</button>
							      	{% endif %}
							    </form>

			        	    </div>

						</div>
					</div>
				</div>
            </div>

		</div>
	</div>
</div>

{% endblock %}