{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexBeneficio" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Benefícios Eventuais (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_3">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Data</label>
                            <input type="text" value='{{ theme.getDateEnd|date("d/m/Y") }}' class="form-control data" name="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Tipo de benefício</label>
                            <select class="form-control">
                                <option>AUXÍLIO NATALIDADE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Registro</label>
                            <input type="text" class="form-control" name="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Tipo de documento</label>
                            <select class="form-control">
                                <option>CERTIDÃO DE NASCIMENTO</option>
                            </select>
                        </div>
                    </div>
                </div>

				<div class="row div_divisor_2">
					<div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Benefícios Eventuais</label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
					</div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="indexBeneficio" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
				</div>

            </div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $(".data").datepicker();

    $('#periodo_perda_ini').mask('00/00');
    $('#periodo_perda_fim').mask('00/00');

	$('.nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');

    $('.data').keyup(function(event){
        this.value = '';
    });

});
</script>

{% endblock %}