{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <a href="indexFortalecimento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
            <h3 class="text-center">
                Convivência e Fortalecimento de Vínculos (EDITAR)
            </h3>
            <hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}


                <div class="row div_divisor_2">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Convivência e Fortalecimento de Vínculos</label>
                            <textarea rows="4" class="form-control">TESTE DE OBSERVAÇÃO SOBRE A ATUALIZAÇÃO</textarea>
                        </div>
                    </div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="{{URLL_DEFAULT}}/atendimento/acompanhamentoAtendimento" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
                </div>
                
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Primeiro nome</th>
                                    <th>Tipo de serviço de convivência</th>
                                    <th>Ingresso</th>
                                    <th>Desligamento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>José Antonio</td>
                                    <td>SCFV para crianças de 0 a 6 anos</td>
                                    <td>01/2017</td>
                                    <td>05/2017</td>
                                    <td>
                                        <a id="modal-105420" href="#modal-container-105420" role="button" class="btn btn-success pull-left" data-toggle="modal">Novo</a>
                                        <a id="modal-958758" href="#modal-container-958758" role="button" class="btn btn-primary pull-left" data-toggle="modal">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-container-105420" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Convivência e Fortalecimento de Vínculos</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
         
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Tipo de serviço</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Ingresso</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Desligamento</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-958758" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Convivência e Fortalecimento de Vínculos</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
          
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Tipo de serviço</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Ingresso</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Desligamento</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    //$('input[name="dates"]').daterangepicker();
    
    //periodo_perda_ini
    //periodo_perda_fim

    $('#periodo_perda_ini').mask('00/00');
    $('#periodo_perda_fim').mask('00/00');

    $('.nis').mask('000.0000.000-0');
    $('#cpf').mask('000.000.000-00');

});
</script>

{% endblock %}