<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  </head>

  <body>

    <br/><br/><br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p class="alert alert-danger text-center">Erro ao tentar conectar</p>
                            <div class="text-center">
                                <form class="form-signin" method="post" action="../login/acessarLogin">
                                    <input type="hidden" name="input[token]" value="{{ form_token() }}" />
                                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                                    <input autocomplete="off" type="text" name="input[nome]" class="form-control" placeholder="Digite o nome de usuário" required>
                                    <input autocomplete="off" type="password" name="input[senha]" class="form-control" placeholder="Digite sua senha" required>
                                    <br/>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
                                </form>
                            </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

  </body>

</html>
