{% extends "_layout/_layout.html" %}
{% block content %}

<style type="text/css">
.modal-dialog{
		max-width: 60%;
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><br/>
			<a href="{{URL_DEFAULT}}/atendimento/acompanhamentoAtendimento" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Composição Familiar
			</h3>
			<hr/>
			<div>
	            <div class="card-body">

	            	{% include '_layout/_topo_pessoa_referencia.html' %}

	                <div class="row div_divisor_3"> 
	                	<b style="width: 100%; margin-left: 15px; border-bottom: 1px solid #ccc; margin-bottom: 10px">Especificidades sociais, étnicas ou culturais da família</b>
	                    
	                    <div class="col-lg-12">
							<div class="form-check form-check-inline" style="margin-right: 5%">
								<input type="checkbox" class="form-check-input" id="rua">
								<label class="form-check-label" for="rua"> Em situação de Rua</label>
							</div>
							<div class="form-check form-check-inline" style="margin-right: 5%">
								<input type="checkbox" class="form-check-input" id="quilombola">
								<label class="form-check-label" for="quilombola"> Família Quilombola</label>
							</div>
							<div class="form-check form-check-inline" style="margin-right: 5%">
								<input type="checkbox" class="form-check-input" id="ribeirinha">
								<label class="form-check-label" for="ribeirinha"> Família Ribeirinha</label>
							</div>
							<div class="form-check form-check-inline" style="margin-right: 5%">
								<input type="checkbox" class="form-check-input" id="cigana">
								<label class="form-check-label" for="cigana"> Família Cigana</label>
							</div>
	                    </div>
	                </div>

	                <div class="row div_divisor_3">
	                	<div class="col-lg-6">
							<div class="form-check form-check-inline" >
							    <input type="checkbox" class="form-check-input" id="residente1">
							    <label class="form-check-label" for="residente1">Família indígena residente em aldeia/reserva</label>
							</div>
							<div class="form-group">
	                            <input id="apelido" placeholder="escreva a Etnia" class="form-control"  type="text" />
	                        </div>
	                	</div>
	                	<div class="col-lg-6">
							<div class="form-check form-check-inline" >
							    <input type="checkbox" class="form-check-input" id="residente2">
							    <label class="form-check-label" for="residente2">Família indígena residente em aldeia/reserva</label>
							</div>
							<div class="form-group">
	                            <input id="apelido" placeholder="escreva a Etnia" class="form-control" type="text" />
	                        </div>
	                	</div>
	                </div>

	                <!--<div class="row" style="background-color: #f3f3f3; padding: 10px;">
	                    <div class="col-lg-6">
	                        <div class="form-group">
	                            <label class="control-label">Outras Observações</label>
	                            <textarea id="observacoes" placeholder="Observações referentes ao diagnóstico da composição familiar" class="form-control" type="text"></textarea>
	                        </div>
	                    </div>
	                    <div class="col-lg-2">
	                        <div class="form-group">
	                            <label class="control-label">Anotação</label>
	                            <input id="apelido" readonly="" class="form-control" value='{{ theme.getDateEnd|date("d/m/Y") }}' type="text" />
	                        </div>
	                    </div>
	                </div>-->

					<div class="row div_divisor_3">
						<div class="col-lg-8">
	                        <div class="form-group">
	                            <label class="control-label">Outras observações referentes ao diagnóstico da composição familiar</label>
	                            <textarea rows="4" class="form-control"></textarea>
	                        </div>
						</div>
	                    <div class="col-lg-4" style="text-align: center; margin: auto">
	                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
	                        <a href="#" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
	                    </div>
					</div>

	            </div>
	            <br/>
	        </div>

			<div class="row">
				<div class="col-lg-12">
					<center style="width: 100%;color: #000;"><b>Composição familiar</b></center>
                    <div style="float: right;">
                    	<div>
	                    	<!--<a id="modal-354909" href="#modal-adicionar" role="button" class="btn btn-link btn-lg" data-toggle="modal">
	                    		<i class="fas fa-plus-circle"></i> incluir membro
	                    	</a>-->
                        	<a id="modal-354909" style="float: right;" href="#modal-adicionar" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
                    	</div>
                    </div>
					<div>
						<table class="table table-hover table-sm table-bordered">
							<thead>
								<tr>
									<th>Nome Completo</th>
									<th>Nascimento</th>
									<th>Idade</th>
									<th>Parentesco</th>
									<th>Def.</th>
									<th>CN</th>
									<th>RG</th>
									<th>CTPS</th>
									<th>CPF</th>
									<th>TE</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>José Antonio</td>
									<td>M</td>
									<td>01/01/1970</td>
									<td>40</td>
									<td>Pessoa refe</td>
									<td>NÃO</td>
									<td>NÃO</td>
									<td>NÃO</td>
									<td>NÃO</td>
									<td>SIM</td>
									<td>
										<span data-id="4" id="openModalEditar" class="btn btn-outline-primary pull-left">Editar</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

{% include 'composicao-familiar/modais/_modal_novo_membro.html' %}
{% include 'composicao-familiar/modais/_modal_editar_membro.html' %}

<script>
$(function(){
	
	$('#openModalEditar').on('click', function(){
		var dtid = $(this).attr("data-id");
		console.log(dtid);
		$('#modal-editar').modal('toggle');
	});

	$('#nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');
});
</script>


{% endblock %}