{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="indexCondicoesEducacionais" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Condições Educacionais (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_3">
                    <b style="width: 100%; margin-left: 15px; margin-bottom: 10px">
                        Anotações por descumprimento ao Bolsa Família
                    </b>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Ocorrência</label>
                            <input type="text" value='{{ theme.getDateEnd|date("d/m/Y") }}' class="form-control data" name="">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Efeito</label>
                            <select class="form-control">
                                <option>ADVERTÊNCIA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>

				<div class="row div_divisor_3">
					<div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Condições de Educação</label>
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
					</div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="#" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
				</div>
                
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <a id="modal-105420" style="float: right;" href="#modal-container-105420" role="button" class="btn btn-outline-success" data-toggle="modal">Adicionar</a>
                        <b>Composição familiar</b>
                        <table class="table table-hover table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>Primeiro nome</th>
                                    <th>Idade</th>
                                    <th>Lê e escreve</th>
                                    <th>Freq. escola</th>
                                    <th>Escolaridade</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>José Antonio</td>
                                    <td>40</td>
                                    <td>SIM</td>
                                    <td>NÃO</td>
                                    <td>9 ANO ENSINO FUNDAMENTAL</td>
                                    <td>
                                        <a id="modal-958758" href="#modal-container-958758" role="button" class="btn btn-outline-primary pull-left" data-toggle="modal">Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal-container-105420" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Condições Educacionais (composição familiar) - NOVO</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-bottom: 0px; margin-right: 20px; margin-top: 30px">
                                <input type="checkbox"> Lê e escreve
                            </label> 
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-top: 30px">
                                <input type="checkbox"> Frequenta escola
                            </label> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Escolaridade</label>
                            <select class="form-control">
                                <option>9 ano ensino fundam.</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label class="control-label">Nome da unidade escolar</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-bottom: 0px; margin-right: 20px; margin-top: 30px">
                                <input type="checkbox"> Rede pública
                            </label> 
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-958758" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Condições Educacionais (composição familiar) - EDIÇÃO</h5> 
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Primeiro Nome</label>
                            <input class="form-control nis" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label">Idade</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-bottom: 0px; margin-right: 20px; margin-top: 30px">
                                <input type="checkbox"> Lê e escreve
                            </label> 
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-top: 30px">
                                <input type="checkbox"> Frequenta escola
                            </label> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">Escolaridade</label>
                            <select class="form-control">
                                <option>9 ano ensino fundam.</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label class="control-label">Nome da unidade escolar</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <label style="margin-bottom: 0px; margin-right: 20px; margin-top: 30px">
                                <input type="checkbox"> Rede pública
                            </label> 
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmar</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    $.datepicker.regional['pt-BR'] = {
        closeText: 'Fechar',
        prevText: '&#x3c;Anterior',
        nextText: 'Pr&oacute;ximo&#x3e;',
        currentText: 'Hoje',
        monthNames: ['Janeiro','Fevereiro','Mar&ccedil;o','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        dayNames: ['Domingo','Segunda-feira','Ter&ccedil;a-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sabado'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sab'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['pt-BR']);

    $(".data").datepicker();

    $('#periodo_perda_ini').mask('00/00');
    $('#periodo_perda_fim').mask('00/00');

	$('.nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');

    $('.data').keyup(function(event){
        this.value = '';
    });

});
</script>

{% endblock %}