
<!--
{% for key, pessoa in session %}
    {% for k,p in pessoa[0] %}
        {{k}}

    {% endfor %}
{% endfor %}
-->

<div class="row div_divisor_2">

    <div class="col-lg-5">
        <div class="form-group">
            <label class="control-label">Nome da Pessoa de Referência</label>
            <input autocomplete="off" name="nome_pessoa" id="pessoa_ref" type="text" class="form-control" />
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <label class="control-label">Apelido</label>
            <input autocomplete="off" name="apelido_pessoa" id="apelido" type="text" class="form-control" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">NIS</label>
            <input autocomplete="off" name="nis_pessoa" id="nis" class="form-control nis" type="text" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">CPF</label>
            <input autocomplete="off" name="cpf_pessoa" id="cpf" class="form-control" type="text" />
        </div>
    </div>

</div>