<!-- {% set URL_DEFAULT = 'http://prontuariosocial.homologa.salvador.ba.gov.br' %} -->
{% set URL_DEFAULT = 'http://localhost/prontuario' %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema Semps">
    <meta name="author" content="Salvador - SEMPS">

    <title>Prontuário</title>

    <link href="{{URL_DEFAULT}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{URL_DEFAULT}}/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="{{URL_DEFAULT}}/assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="{{URL_DEFAULT}}/assets/css/sb-admin.css" rel="stylesheet">
    <!-- -->
    <link href="{{URL_DEFAULT}}/assets/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
  -->

    <!-- Bootstrap core JavaScript-->
    <script src="{{URL_DEFAULT}}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{URL_DEFAULT}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript
    <script src="{{URL_DEFAULT}}/assets/vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Page level plugin JavaScript
    <script src="{{URL_DEFAULT}}/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="{{URL_DEFAULT}}/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="{{URL_DEFAULT}}/assets/vendor/datatables/dataTables.bootstrap4.js"></script>-->

    <!-- Custom scripts for all pages-->
    <script src="{{URL_DEFAULT}}/assets/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page
    <script src="{{URL_DEFAULT}}/assets/js/demo/datatables-demo.js"></script>
    <script src="{{URL_DEFAULT}}/assets/js/demo/chart-area-demo.js"></script>-->

     <!--
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    -->
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    input[readonly],select[readonly] {
      background: #eee;
      pointer-events: none;
      touch-action: none;
    }
    .centro_load{
      margin: 0 auto;
      text-align: center;
      margin-left: 220%;
    }
    thead{
      background-color: #d1d1d1;
    }
    .modal-dialog{
      max-width: 60%;
    }

    .div_divisor_1{
      background-color: #f3f3f3; padding: 10px; margin-bottom: 5px;
    }

    .div_divisor_2{
      background-color: #f3f3f3; padding: 10px; margin-bottom: 5px; position: relative;
    }

    .div_divisor_3{
      background-color: #f3f3f3; padding: 10px; position: relative;
    }

    .div_divisor_tabela{
      background-color: #f3f3f3; padding: 10px; margin-bottom: 5px;
    }
  </style>

</head>

  <body id="page-top">

    <nav class="navbar navbar-expand static-top navbarnovo">
      <!--<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>-->
      <a class="navbar-brand mr-1" href="javascript::void(0)">Prontuário Social</a>

      <!--<ul class="navbar-nav ml-auto ml-md-10">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>

      </ul>-->

      <ul class="navbar-nav ml-auto ml-md-10">
        <li class="nav-item dropdown no-arrow mx-1">
          <a href="{{URL_DEFAULT}}/login/sairLogin">Sair</a>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!--
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Páginas</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="javascript::void(0)">Login</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tabelas</span></a>
        </li>
      </ul>
      -->

      <ul class="sidebar navbar-nav">
        <li class="nav-item"><!-- active -->
          <a class="nav-link" href="{{URL_DEFAULT}}/atendimento/indexAtendimento">
            <i class="fas fa-id-card-alt"></i>
            <span>Atendimento</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{URL_DEFAULT}}/unidades/indexUnidades">
           <i class="fas fa-object-ungroup"></i>
            <span>Unidades</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{URL_DEFAULT}}/tecnicos/indexTecnicos">
            <i class="fas fa-user-friends"></i>
            <span>Técnicos</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" onclick="function rel(){alert('Relatórios ainda não disponíveis.')};rel()" href="javascript:void(0)">
           <i class="fas fa-file-alt"></i>
            <span>Relatórios</span>
          </a>
        </li>

      </ul>

      {% block content %}
      {% endblock %}

    </div>

    <!--
      botão de subir para top
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>-->

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>


  </body>

</html>
