<div class="row div_divisor_2">

    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">NIS</label>
            <input readonly="" value="120.1934.788-3" id="nis" class="form-control nis" type="text" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">CPF</label>
            <input id="cpf" readonly="" value="765.543.234-87" class="form-control" type="text" />
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label">Nome da Pessoa de Referência</label>
            <input readonly="" value="José da Antonio" id="pessoa_ref" type="text" class="form-control" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Apelido</label>
            <input readonly="" value="ZECA" id="apelido" type="text" class="form-control" />
        </div>
    </div>

    <!--
    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Anotação</label>
            <input readonly="" value='{{ theme.getDateEnd|date("d/m/Y") }}' class="form-control" type="text" />
        </div>
    </div>-->

</div>