{% extends "_layout/_layout.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br/>
			<a href="{{URL_DEFAULT}}/convivencia/indexConvivencia" class="btn btn-xs btn-outline-link">&laquo; Voltar</a>
			<h3 class="text-center">
				Convivência Familiar e Comunitária (NOVO)
			</h3>
			<hr/>

            <div class="card-body">

                {% include '_layout/_topo_pessoa_referencia.html' %}

                <div class="row div_divisor_2">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="sem_adultos"> Pessoas ficam sem adultos durante o dia
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="vitima_ameaca"> É vítima de ameça ou discriminação na comunidade
                            </label> 
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="vitima_ameaca"> Sempre morou no estado
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Tempo no estado</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="vitima_ameaca"> Sempre morou no município
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Tempo no município</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="vitima_ameaca"> Sempre morou no bairro
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Tempo no bairro</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="rede_apoio"> Participa de grupos que são rede de apoio
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="rede_apoio"> Criança ou adolescente sem atividade de lazer, recreação ou convívio
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label style="margin-bottom: 0px; margin-right: 20px">
                                <input type="checkbox" name="rede_apoio"> Idoso sem atividade de lazer, recreação ou convívio
                            </label> 
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Relações conjugais</label>
                            <select class="form-control">
                                <option>SIM, SEM PRESENÇA DE VIOLÊNCIA</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Relações conflituosas com outros</label>
                            <select class="form-control">
                                <option>SEM CONFLITOS RELEV</option>
                            </select>
                        </div>
                    </div>

                
					<div class="col-lg-8">
                        <div class="form-group">
                            <label class="control-label">Outras observações referentes a Convivência Familiar e Comunitária</label>
                            <textarea rows="4" class="form-control">TESTE DE OBSERVAÇÃO SOBRE A ATUALIZAÇÃO</textarea>
                        </div>
					</div>
                    <div class="col-lg-4" style="text-align: center; margin: auto">
                        <a href="#" type="button" class="btn btn-primary"><i class="fas fa-check"></i> Confirmar</a>
                        <a href="{{URLL_DEFAULT}}/atendimento/acompanhamentoAtendimento" type="button" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    </div>
				</div>

            </div>
		</div>
	</div>
</div>

<script src="{{URL_DEFAULT}}/assets/js/jquery.mask.min.js"></script>

<script>
$(function(){

    $('#periodo_perda_ini').mask('00/00');
    $('#periodo_perda_fim').mask('00/00');

	$('.nis').mask('000.0000.000-0');
	$('#cpf').mask('000.000.000-00');

});
</script>

{% endblock %}